###### Q1. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요

In [3]:
list1 = [0,1,2,3,4,5,6]
list1.remove(2)
A1 = print(list1)
A1

[0, 1, 3, 4, 5, 6]

###### Q2. 내장함수를 이용해서 list = [0.1.2.3.4.5.6]에서 모든 원소를 삭제 후 출력하세요

In [4]:
list2 = [0,1,2,3,4,5,6]
list2.clear()
A2 = print(list2)
A2

[]

###### Q3. list=[0,1,2,3,4,5,6]에 3,7이 포함되어 있는 지 확인하세요

In [5]:
list3 = [0,1,2,3,4,5,6]
A3 = print("3값 존재?=",3 in list3,"\n","7값 존재?=",7 in list3)

3값 존재?= True
 7값 존재?= False

###### Q4. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요
- numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [1]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
del_duplicate_numbers = list(set(numbers))
del_duplicate_numbers
for i in del_duplicate_numbers:
    print("%d값은 %d개 있습니다."%(i,numbers.count(i)))

2값은 2개 있습니다.
3값은 4개 있습니다.
4값은 2개 있습니다.
5값은 2개 있습니다.
6값은 2개 있습니다.
7값은 2개 있습니다.
8값은 2개 있습니다.
9값은 2개 있습니다.

In [27]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
del_duplicate_numbers = set(numbers)
print(type(del_duplicate_numbers))
print(del_duplicate_numbers)

<class 'set'>
{2, 3, 4, 5, 6, 7, 8, 9}

###### Q5. list를 [6,5,4,3,2,1,0]으로 2가지 방법으로 출력하세요
- list = [0,1,2,3,4,5,6]

In [6]:
list5 = [0,1,2,3,4,5,6]
A5_1 = print(sorted(list5,reverse=True))
print('\n')
list5.reverse()
A5_2 = print(list5)

[6, 5, 4, 3, 2, 1, 0]


[6, 5, 4, 3, 2, 1, 0]

###### Q6. list = ['a', 'b', 'c']을 for문을 사용해서 아래와 같이 출력하세요.
- 1번째는 a입니다
- 2번째는 b입니다
- 3번째는 c입니다

In [7]:
list6 = ['a', 'b', 'c']
number = 0
for i in list6:
    number = number + 1
    print("%d번째는"%number,"%s입니다."%i)

1번째는 a입니다.
2번째는 b입니다.
3번째는 c입니다.

###### Q7. 코딩을 한 줄로 작성해서 동일한 결과를 출력하세요
* [0,4,16,36,64,100,144,196,256,324]

In [8]:
list7 = []
for i in range(0,20,2):
    list7.append(i*i)
print(list7)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [28]:
# 리스트 안에 포문 표현식
# [표현식 for 항목 in 반복가능객체(리스트) if 조건문]
list7_1 = [i ** 2for i in range(0,20,2)]
print(list7_1)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

###### Q8. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요

In [33]:
list8 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
A8_1 = [i for i in list8 if i % 2 == 0]
print("A8_1:",A8_1)
A8_2 = [i for i in list8 if i % 2 != 0]
print("A8_2:",A8_2)
A8_3 = [i for i in list8 if i <3]
print("A8_3:",sorted(A8_3,reverse= True))

# [0, 2, 4, 6, 8]
# [1, 3, 5, 7, 9]
# [2, 1, 0]

A8_1: [0, 2, 4, 6, 8]
A8_2: [1, 3, 5, 7, 9]
A8_3: [2, 1, 0]

###### Q9. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.
- a::b::c

In [37]:
list9=['a','b','c']
A9 = "::".join(list10) #요소 사이에 앞에 문자열을 넣음
A9
print(A9)

a::b::c

###### Q10. 사용자 함수를 이용해서 여러개의 숫자를 입력하면 그 숫자들의 곱을 구하세요.

In [54]:
def mul(*args):
    multp = 1
    for i in args:
        multp *= i
    return multp
mul(1,2,3,4,5)

120

###### Q11.두개의 숫자를 인자로 적용하면 4칙 연산을 수행하는 사용자 함수를 작성한 후  5,3을 대입한 결과를 튜플로 출력하세요. 단, 소수점은 없게 처리

In [31]:
def cal(a,b):
    sum = a+b
    sub = a - b
    div = int(a / b)
    mul = a * b
    return ("add : %d + %d = %d" %(a,b,sum),"sub : %d - %d = %d" %(a,b,sub),"div : %d / %d = %d" %(a,b,div),"mul : %d * %d = %d" %(a,b,mul))
A11 = cal(5,3)
print(type(A11))
print(A11)

<class 'tuple'>
('add : 5 + 3 = 8', 'sub : 5 - 3 = 2', 'div : 5 / 3 = 1', 'mul : 5 * 3 = 15')

In [24]:
def cal(a,b):
    order = input("add/sub/div/mul : ")
    if order == "add":
        sum = a+b
        return "%d + %d = %d"%(a,b,sum),
    elif order == "sub":
        sub = a - b
        return "%d - %d = %d"%(a,b,sub),
    elif order == "div":
        div = int(a / b)
        return "%d / %d = %d"%(a,b,div),
    elif order == "mul":
        mul = a * b
        return "%d * %d = %d"%(a,b,mul),

A11 = cal(5,3)
print(type(A11))
print(A11)
A11

add/sub/div/mul : mul
<class 'tuple'>
('5 * 3 = 15',)

('5 * 3 = 15',)

###### Q12. 뺄셈, 나눗셈 멀티 계산 함수를 작성

In [15]:
def A12():
    i, j = map(int, input("원하시는 숫자를 두 개 입력하세요 ex) 1,2 : ").split(","))
    print("%d - %d값은 %d입니다."%(i,j,i-j))
    print("%d / %d값은 %d입니다."%(i,j,i/j))
    return
A12()

원하시는 숫자를 두 개 입력하세요 ex) 1,2 : 1,2
1 - 2값은 -1입니다.
1 / 2값은 0입니다.

###### Q13. 아래를 완성하여 2를 출력하세요.

In [16]:
a = 3
def vartest(a):
    a -= 1
    return a

vartest(a)

2

###### Q14. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요. 
- 단 반복적으로 작업을 수행할 수 있음.

In [33]:
while True:
    data = input(":")
    if data == True:
        print(data)
    elif data == "":
        print("입력하신 데이터가 없어 종료합니다.")
        break

:1
:1
:
입력하신 데이터가 없어 종료합니다.

###### Q15. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [21]:
def fact(n):
    fact =1
    for i in range(1,n+1):
        fact = fact * i
    return print("%d! = %d"%(n,fact))

fact(5)
fact(10)

5! = 120
10! = 3628800

###### Q16. 재귀란 '자기자신을 호출하는 것'을 의미한다. 
_재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를  작성하고 1!, 5!, 10!를 구하세요._
- factorial(n) = n * factorial(n-1) (n >= 1)

In [22]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)

factorial(5)

120

###### Q17 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때  면적과 둘레를 구하세요

In [43]:
def find_circle_area_and_round(r):
    import math
    circle_area = r ** 2 * math.pi
    circle_round = 2 * r * math.pi
    return "원의 면적: {:0.2f} , 원의 둘레: {:0.2f}".format(circle_area,circle_round)
print(find_circle_area_and_round(5))
print(find_circle_area_and_round(10))

원의 면적: 78.54 , 원의 둘레: 31.42
원의 면적: 314.16 , 원의 둘레: 62.83

###### Q18. '안녕!'을 10번 출력하는 사용자 함수를 작성하여 실행하세요.

In [24]:
def say_hello():
    for i in range(10):
        print("안녕!")
say_hello()

안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!

###### Q19. 내장함수를 이용하여 [1,2,3,4,5]을 [1.0, 2.0, 3.0, 4.0, 5.0]로 변환하세요.

In [25]:
a = [1,2,3,4,5]
a = list(map(float,list(a)))
print(a)

[1.0, 2.0, 3.0, 4.0, 5.0]

###### Q20. 내장함수 map()를 이용하여 [1,2,3,4,5]을 [1, 4, 9, 16, 25]로 변환하세요

In [55]:
a = [1,2,3,4,5]
a = list(map(lambda i : i ** 2, a))
print(a)

[1, 4, 9, 16, 25]

In [16]:
a =(1,)
type(a)

tuple