###### Q1. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요

In [12]:
list = [0,1,2,3,4,5,6]
list.remove(2)
A1 = print(list)
A1

[0, 1, 3, 4, 5, 6]

###### Q2. 내장함수를 이용해서 list = [0.1.2.3.4.5.6]에서 모든 원소를 삭제 후 출력하세요

In [13]:
list = [0,1,2,3,4,5,6]
list.clear()
A2 = print(list)
A2

[]

###### Q3. list=[0,1,2,3,4,5,6]에 3,7이 포함되어 있는 지 확인하세요

In [14]:
list = [0,1,2,3,4,5,6]
list.index(3,7)

ValueError: 3 is not in list

###### Q4. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요
- numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

###### Q5. list를 [6,5,4,3,2,1,0]으로 2가지 방법으로 출력하세요
- list = [0,1,2,3,4,5,6]

###### Q6. list = ['a', 'b', 'c']을 for문을 사용해서 아래와 같이 출력하세요.
- 1번째는 a입니다
- 2번째는 b입니다
- 3번째는 c입니다

In [30]:
list = ['a', 'b', 'c']
for j in range(1,4):
    for i in list:
        print("{}번째는 {}입니다.\n".format(j,i))

1번째는 a입니다.

1번째는 b입니다.

1번째는 c입니다.

2번째는 a입니다.

2번째는 b입니다.

2번째는 c입니다.

3번째는 a입니다.

3번째는 b입니다.

3번째는 c입니다.

###### Q7. 코딩을 한 줄로 작성해서 동일한 결과를 출력하세요
* [0,4,16,36,64,100,144,196,256,324]