## Python Basic

In [1]:
!python -V
#명령어 작성시 !

Python 3.8.10

In [2]:
#표현식
print(273)
print(10+20+30)
print("Python Programming")

273
60
Python Programming

In [3]:
#표현식이 하나 이상 모이면 문장식으로 변환
print(52, 'Hello Python', 5+3)

52 Hello Python 8

In [4]:
#문장이 모여 프로그램 형성
a=1 ; b=2 ; c=a+b
print(c)

3

In [5]:
#키워드
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#식별자 기본 규칙
- 키워드를 사용하면 안된다
- 특수문자는 언더바(_)만 사용한다
- 숫자로 시작하면 안된다
- 공백을 포함할 수 없다

파이썬은 snake_case와 CamelCase를 모두 사용 가능하다.
- itemlist : snake_case == item_list ; CamelCase == ItemList 
- loginstatus  " login_status    " LoginStatus

- 캐멀 케이스(대문자로 시작) 클래스 #객체지향언어
- 스네이크 케이스 (소문자로 시작) 뒤에 소괄호()가 있으면 - 함수
- 스네이크 케이스 (소문자로 시작) 뒤에 소괄호()가 없으면 - 변수

In [6]:
#사람이 생각하는 방식을 그대로 표현할 수 있는 언어
if 3 in [1,2,3,4] : print('3이 있습니다')

3이 있습니다

In [7]:
#파이썬 자료형 - 숫자형(정수,실수,8진수,16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177
f = 0xABC
print(a)
print(b)
print(c)
print(d)
print(e) #8진수 
print(f) #16진수

123
-123
0
1.23
127
2748

In [8]:
# 사칙연산
a = 10
b = 2.3
c = a + b
d + a * b
e = a / b
f = a % b # 나머지 
g = a // b # 몫
h = 2 ** 2 #제곱근

print(a)
print(b)
print(c)
print(d)
print(e) 
print(f)
print(g)
print(h)

10
2.3
12.3
1.23
4.347826086956522
0.8000000000000007
4.0
4

In [9]:
string = "문자열 "
number = 273
# string + number

In [10]:
a = 10
a = '문자'
a = 100
type(a)

int

In [11]:
#복합 대입 연산자
num = 10
num += 10
print(num)

20

In [12]:
#사용자 입력
input ('인사말을 입력하세요 : ')

인사말을 입력하세요 : hello

'hello'

In [13]:
num = input('숫자를 입력하세요 : ')
print(num)
type(num)

숫자를 입력하세요 : 3
3

str

In [14]:
num1 = input('숫자를 입력하세요 : ')
num2 = input('숫자를 입력하세요 : ')
print(num1 + num2)
type(num1+num2)

숫자를 입력하세요 : 5
숫자를 입력하세요 : 3
53

str

In [15]:
num1 = input('숫자를 입력하세요 : ')
num1_n = int(num1)
num2 = input('숫자를 입력하세요 : ')
num2_n = int(num2)
print(num1 + num2)
type(num1+num2)
print(num1_n + num2_n)
type(num1_n + num2_n)

숫자를 입력하세요 : 1
숫자를 입력하세요 : 3
13
4

int

In [16]:
num = input('숫자를 입력하세요 : ')
num_n = float(num)
num2 = input('숫자를 입력하세요 : ')
num2_n = float(num2)
print(num_n + num2_n)
type(num_n + num2_n)

숫자를 입력하세요 : 3
숫자를 입력하세요 : 3.3
6.3

float

In [17]:
#Answer
num = input('숫자를 입력하세요 : ')
num_n = int(num)
num2 = input('숫자를 입력하세요 : ')
num2_n = float(num2)
print(num_n + num2_n)
type(num_n + num2_n)

숫자를 입력하세요 : 3
숫자를 입력하세요 : 3.3
6.3

float

In [18]:
a = 52
a= str(a)
b = 52.273
b= str(b)
print(a+b)

5252.273

In [19]:
### Answer
a = str(52)
b = str(52.273)
print(a+b)

5252.273

In [20]:
#문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
#p2 = 'python's value is great' #ERROR
# '''''' , """"""  여러가지 줄을 한꺼번에 함
print(p1)

python's value is great

In [21]:
s1 = '"python is valuable" he says' 
s1

'"python is valuable" he says'

In [22]:
s2 = 'python\'s value is great'
s2
#' \' 역슬래쉬 사용시 그대로 적용

"python's value is great"

In [30]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
You need Python'''
print(y2)
y2 = """Once you study data analysis
You need Python"""
print(y2)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
Once you study data analysis
You need Python

In [34]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

Python is easy to learn
PythonPythonPython
====================

In [35]:
# 자료형 List
# 파이썬에는 배열이 없음. 따라서 numpy를 이용함. 
# 리스트는 [] 로 표시하며 [] 안의 요소를 , 로 구분하여 순서있게 나열한다.

list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [42]:
# Index = 색인
list1 = [1,2,3,4,5]

[1, 2, 3, 4, 5]

In [50]:
# Slicing :
list1[:]
list1[0:5]
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
list3[2]
list3[3][4] #세부리스트 색인시 [겉][1차][2차]
list3[4][1]

'b'

In [58]:
#list 수정, 삭제, 
#tuple 은 수정, 삭제 불가
import numpy as np
a = np.arange(10).tolist()
#numpy활용 리스트 생성
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1 
print(a)
b[1] = 'a'
print(b)
del b[0] #del  삭제언어
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [68]:
# Question
c = a + b 
c[-1] = 1
print(c)
c[-2] = 2
print(c)
s = c

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 1]
[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

In [74]:
# 정렬 
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort()
print(s)

# descending  # 기본값 reverse = False // 오름차순
s_d = sorted(s, reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [78]:
# 인덱스 위치 반환 index
c = np.random.randint(100, size=100).tolist()
print(c)
c.index(65)  # 리스트 C 안에 65라는 값은 66번째에 위치해있다.

[37, 78, 86, 71, 82, 89, 33, 35, 32, 55, 61, 82, 80, 93, 47, 99, 11, 20, 55, 0, 17, 52, 38, 30, 15, 99, 50, 82, 37, 73, 51, 21, 58, 32, 54, 49, 91, 52, 25, 27, 14, 62, 10, 10, 77, 82, 78, 4, 6, 74, 18, 77, 31, 98, 40, 53, 40, 14, 10, 8, 87, 8, 58, 92, 5, 59, 7, 3, 49, 98, 48, 52, 59, 71, 69, 56, 67, 22, 43, 21, 78, 56, 11, 23, 45, 65, 3, 93, 78, 82, 26, 53, 69, 21, 43, 79, 82, 88, 49, 61]

85

In [80]:
# 개수 반환 count
c = [1,1,3,3,3,5,5]
print(c.count(3))  # 리스트 C 안에 3의 값이 몇 개가 있는가

3

In [83]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 확장 extend

#추가 append
h.append(6)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [137]:
# 자료형 : 튜플 TUPLE (삭제 변경 불가) 소괄호 사용
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple3[2]
list3[3][4] #세부리스트 색인시 [겉][1차][2차]
list3[4][1]

'b'

In [138]:
# 유의 점 # 튜프 요소 값은 병경할 수 없음 
#프로그램에서 항상 변하지 않아야되는 경우 튜플을 사용함.
list1[0] = 6
print(list1)
tuple1[0] = 2 #튜플 변경 불가
print(tuple1)

[6, 2, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [95]:
# 한개의 요소를 가질 경우 요소 뒤에 콤마를 붙여야 함
t1 = (1, )
print(t1)
t2 = 1,2,3
print(t2)
print(t2*3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [106]:
# 자료형 : 사전 (키와 값을 하나의 요소로 하는 순서가 없는 집합) 중괄호{ 키 : 값 } 사용
# 인덱싱이 없음
# 키를 활용해서 값을 찾아낼 수 있음  따라서 순서가 필요하지 않음
d1 = {'a':1, 'b':2, 'c':3}
print(d1)
print(d1['a'])
d1['b'] = 5
print(d1)
print(d1['b'])

#키 색출
print(d1.keys())

#값 색출
print(d1.values())

#카 값 모두 색출
print(d1.items())

{'a': 1, 'b': 2, 'c': 3}
1
{'a': 1, 'b': 5, 'c': 3}
5
dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [1]:
d1=[{'a':1,'b':2},{'a':2,'c':3},{'a':1,'f':4}]

def search(a, d1):
    return [element for element in people if element['a'] == a]

In [107]:
# 자료형 : 집합, SET (중복을 허용하지 않으며 순서가 없음)
# 집합은 인덱싱으로 값을 얻을 수 없음
# 인덱싱을 하기 위해선 리스트 와 튜플로 변환해야함.
s1 = set([1,2,5,4,3])
s2 = set("Hello") # 'l' 값 중복
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'o', 'l', 'H', 'e'}

In [112]:
#집합 변환
l1 = list(s1)
l2 = list(s2)
print(l1)
print(l2)
print(type(l1))

print(l1[1])
print(l2[1])

[1, 2, 3, 4, 5]
['o', 'l', 'H', 'e']
<class 'list'>
2
l

In [128]:
# Q. s1,s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요
# 합집합 (s1|s2) 교집합(s1&s2)

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

l1 = list(s1|s2)
print(l1)
print(type(l1))

t1 = tuple(s1|s2)
print(t1)
print(type(t1))

l2 = list(s1&s2)
print(l2)
print(type(l2))

t2 = tuple(s1&s2)
print(t2)
print(type(t2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
[4, 5, 6]
<class 'list'>
(4, 5, 6)
<class 'tuple'>

In [131]:
# 조건문 들여쓰기 
li = ['a','b','c']

if 'a' in li:
    print("'a'가 li에 있습니다")
else:
    print("'a'가 li에 없습니다")

'a'가 li에 있습니다

In [140]:
# 포맷함수
f1 = "{} 선수가 {} 등입니다.".format('홍길동', 1)
print(f1)
#문자 s , 숫자 d
print("%s 선수가 %d 등입니다." %("홍길동", 1))

홍길동 선수가 1 등입니다.
홍길동 선수가 1 등입니다.

In [143]:
# Q. 파이썬은 자바보다 2배 쉽습니다.
f = "{}은 {}보다 {}배 쉽습니다.".format('파이썬','자바',2)
print(f)

f1 = "%s은 %s보다 %d배 쉽습니다." %("파이썬", "자바", 2)
print(f1)

파이썬은 자바보다 2배 쉽습니다.
파이썬은 자바보다 2배 쉽습니다.

In [152]:
#자리수 처리
ex2 = 12345
f2 = '{:d}'.format(ex2)
print(f2)
f3 = '{:10d}'.format(ex2)  # 10 == 자리수를 잡아둔 상태에서 움직임 (10자리수 잡아둠)
print(f3)

#소수점처리
ex3 = 12.3456789
f4 = '{:f}'.format(ex3) #f == float
print(f4)
f5 = '{:15.2f}'.format(ex3) #.2 == 소수점 자리수 설정
print(f5)

12345
     12345
12.345679
          12.35

### 제어문 ( if / for / while)

In [160]:
#제어문 - if ~ elif ~ else

#Q. 수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가, 같으면 현상 유지

income = int(input('수입 : '))
expense = int(input('지출 : '))

if income > expense:
    print("저축 증가")
elif income == expense:
    print("현상 유지")
else: 
    print("빚이 증가")

수입 : 500000
지출 : 400000
저축 증가

In [1]:
#Answer
i = 5,000,000
e = 3,000,000

if i > e:
    print("저축 증가")
elif i < e:
    print("빚이 증가")
else:
    print("현상 유지")

저축 증가

In [165]:
# for 반복문 : 범위가 지정되어 있을 때 사용
# while 반복문 : 조건이 만족하는 한 무한 반복

numbers = [5,15,6,20,7,25]   #여러개의 요소가 있으니 반복이 가능
for number in numbers:       #numbers에 있는 각각의 요소 number에 대해서
    print(number)

5
15
6
20
7
25