In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# python, numpy, pandas 날짜 타입 비교 및 정리
# https://ellun.tistory.com/320

### python

    time
    timestamp to string

In [3]:
# timestamp
import time
print(time.time(),type(time.time()))
#float 형식 1970/01/01부터 지금까지 1초단위 / #float 형식으로 가져감.
timestamp = time.time()
s = str(timestamp)
print(s,type(s))
# time.time() 실수형을 문자열화 시킨게 끝.

1627010375.7849014 <class 'float'>
1627010375.785899 <class 'str'>

    datetime.
    datetime to string

In [4]:
#datetime => string
from datetime import datetime
s = datetime.now()
print(s,type(s))
# datetime 자체가 모듈(datetime)으로 취급.
s1 = datetime.now().strftime('%Y-%m-%d %H:%M:%S') # str + f (format) + time (time module)
print(s1,type(s1))
# datetime 모듈에서 strftime (문자열화) 했을때, 조건을 맞춰줘서 나타남.
# 대신 string 상태에서 날짜 계산식 불가.

2021-07-23 12:19:35.876921 <class 'datetime.datetime'>
2021-07-23 12:19:35 <class 'str'>

    datetime.
    string to datetime

In [5]:
from datetime import datetime
s = '2021-07-20 11:13:44'
d = datetime.strptime(s,'%Y-%m-%d %H:%M:%S' )
# str + p (parsing) + time # 문자열을 time (time module)로 파싱.
print(d, type(d))

2021-07-20 11:13:44 <class 'datetime.datetime'>

    timestamp
    str to timestamp

In [6]:
s = '2021-07-20 11:13:44'
timestamp = time.mktime(datetime.strptime(s,'%Y-%m-%d %H:%M:%S').timetuple())
print(timestamp, type(timestamp))
#mktime <-> localtime()
#timetuple

1626747224.0 <class 'float'>

Q. datetime.today() -> timetuple

In [7]:
today = datetime.today()
print(type(today))
timestamp  = time.mktime(today.timetuple())
print(timestamp,type(timestamp))

<class 'datetime.datetime'>
1627010376.0 <class 'float'>

Q. timestamp -> datetime

In [8]:
from datetime import datetime
f = time.time()
t = str(f)
d = datetime.fromtimestamp(f)
print(f,type(f))
print(d,type(d))
print(t,type(t))

1627010376.166945 <class 'float'>
2021-07-23 12:19:36.166945 <class 'datetime.datetime'>
1627010376.166945 <class 'str'>

    판다스 to_datetime

In [9]:
from datetime import datetime
f = time.time()
print(f,type(f))
pd_date = pd.to_datetime(f,unit='s') #판다스는 datetime을 timestamp라고 함
print(pd_date,type(pd_date))

1627010376.2420938 <class 'float'>
2021-07-23 03:19:36.242093824 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

    1년전 datetime 값

In [10]:
from datetime import timedelta
import time
datetime_now = datetime.now() #현재날짜 저장
delta_datetime_past = timedelta(days=-365) #날짜 차이 계산
print(delta_datetime_past,type(delta_datetime_past))
datetime_now + delta_datetime_past #현재날짜 - 작년

-365 days, 0:00:00 <class 'datetime.timedelta'>

datetime.datetime(2020, 7, 23, 12, 19, 36, 317464)

    두 날짜간의 일수 구하기

In [11]:
since_timestamp = datetime.strptime('20180301','%Y%m%d')
until_timestamp = datetime.strptime('20180331','%Y%m%d')
result = until_timestamp - since_timestamp
print(result,type(result))

30 days, 0:00:00 <class 'datetime.timedelta'>

    특정일 구하기

In [12]:
import datetime
def get_day(y,m,d):
    days = ['MON','TUE','WED','THU','FRI','SAT','SUN']
    return days[datetime.date(y,m,d).weekday()]
print(get_day(2021,7,20))
print(datetime.datetime.now().weekday())

TUE
4

    Pandas Timestamp

In [13]:
import pandas as pd
print(time.time())
date = pd.Timestamp(time.time(),unit='s',tz='Asia/Seoul') #units = seconds / tz= location
print(date,type(date))

1627010376.5429916
2021-07-23 12:19:36.542991638+09:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

    Pandas time in DF

In [14]:
df = pd.read_csv('../Data/stock-data.csv')
df.head(1)

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977

In [15]:
df['New_Date'] = pd.to_datetime(df['Date'])
df[['Date','New_Date']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20 non-null     object
 1   New_Date  20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 448.0+ bytes

In [16]:
df.drop('Date',axis=1,inplace=True)
df['year'] = df['New_Date'].dt.year
df['month'] = df['New_Date'].dt.month
df['day'] = df['New_Date'].dt.day

In [17]:
df[['New_Date','year','month','day']].head(1)
df[['New_Date','year','month','day']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   New_Date  20 non-null     datetime64[ns]
 1   year      20 non-null     int64
 2   month     20 non-null     int64
 3   day       20 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 768.0 bytes

In [18]:
df.set_index('New_Date',inplace=True)
df.head(1)

            Close  Start   High    Low  Volume  year  month  day
New_Date
2018-07-02  10100  10850  10900  10000  137977  2018      7    2

In [19]:
df.index

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='New_Date', freq=None)

In [20]:
df_ymd_range = df['2018-06-29':'2018-06-26'] #index 범위 지정.
df_ymd_range

            Close  Start   High    Low  Volume  year  month  day
New_Date
2018-06-29  10700  10550  10900   9990  170253  2018      6   29
2018-06-28  10400  10900  10950  10150  155769  2018      6   28
2018-06-27  10900  10800  11050  10500  133548  2018      6   27
2018-06-26  10800  10900  11000  10700   63039  2018      6   26

In [21]:
df_ym = df.loc['2018-07','Start':'High']
df_ym

            Start   High
New_Date
2018-07-02  10850  10900

### Time Series Basics

In [22]:
from datetime import datetime
import numpy as np
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6),index=dates)
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts[::2]

2011-01-02   -0.421023
2011-01-07    0.464612
2011-01-10    0.307200
dtype: float64

In [24]:
ts + ts[::2]

2011-01-02   -0.842047
2011-01-05         NaN
2011-01-07    0.929224
2011-01-08         NaN
2011-01-10    0.614400
2011-01-12         NaN
dtype: float64

In [25]:
ts.add(ts[::2], fill_value=0)

2011-01-02   -0.842047
2011-01-05   -0.976776
2011-01-07    0.929224
2011-01-08    0.120416
2011-01-10    0.614400
2011-01-12    0.463963
dtype: float64

In [26]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [27]:
#indexing, Selection, Subsetting
stamp = ts.index[2]
ts[stamp]

0.46461175021601364

In [28]:
# 2011-01-10    1.073133 
print(ts['1/10/2011'])
type(ts['20110110'])

0.3071999453565913

numpy.float64

In [29]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
print(longer_ts,'\n')

2000-01-01    0.211235
2000-01-02    0.643409
2000-01-03    0.174063
2000-01-04   -0.013009
2000-01-05   -0.650270
                ...
2002-09-22    0.695518
2002-09-23    0.194890
2002-09-24   -0.768932
2002-09-25    0.084825
2002-09-26   -0.546867
Freq: D, Length: 1000, dtype: float64

In [30]:
longer_ts['2001']

2001-01-01    0.399203
2001-01-02    0.845598
2001-01-03   -0.631765
2001-01-04    0.160538
2001-01-05    1.524762
                ...
2001-12-27   -0.004422
2001-12-28    0.336767
2001-12-29    0.365749
2001-12-30    0.498177
2001-12-31   -1.027575
Freq: D, Length: 365, dtype: float64

In [31]:
longer_ts['2001-05'][:5]

2001-05-01   -1.492261
2001-05-02   -0.302201
2001-05-03   -0.138826
2001-05-04    0.941397
2001-05-05    2.330322
Freq: D, dtype: float64

In [32]:
ts

2011-01-02   -0.421023
2011-01-05   -0.976776
2011-01-07    0.464612
2011-01-08    0.120416
2011-01-10    0.307200
2011-01-12    0.463963
dtype: float64

In [33]:
ts[datetime(2011,1,7):]

2011-01-07    0.464612
2011-01-08    0.120416
2011-01-10    0.307200
2011-01-12    0.463963
dtype: float64

#### truncate
    기준으로 before~after 사이를 보임
    after만 있을시 그 이후는 버림

In [34]:
print(ts.truncate(before='2011-01-05',after='2011-01-07'))

2011-01-05   -0.976776
2011-01-07    0.464612
dtype: float64

In [35]:
print(ts.truncate(after='1/9/2011'))

2011-01-02   -0.421023
2011-01-05   -0.976776
2011-01-07    0.464612
2011-01-08    0.120416
dtype: float64

In [36]:
pd.date_range('2020-10-7','2020-10-20')

DatetimeIndex(['2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10',
               '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14',
               '2020-10-15', '2020-10-16', '2020-10-17', '2020-10-18',
               '2020-10-19', '2020-10-20'],
              dtype='datetime64[ns]', freq='D')

In [37]:
from datetime import datetime
from datetime import timedelta
now = datetime.now()
in_two_weeks = now + timedelta(weeks=2) #8/3
pd.date_range(now,in_two_weeks) # 오늘까지 포함 15개

DatetimeIndex(['2021-07-23 12:19:38.451202', '2021-07-24 12:19:38.451202',
               '2021-07-25 12:19:38.451202', '2021-07-26 12:19:38.451202',
               '2021-07-27 12:19:38.451202', '2021-07-28 12:19:38.451202',
               '2021-07-29 12:19:38.451202', '2021-07-30 12:19:38.451202',
               '2021-07-31 12:19:38.451202', '2021-08-01 12:19:38.451202',
               '2021-08-02 12:19:38.451202', '2021-08-03 12:19:38.451202',
               '2021-08-04 12:19:38.451202', '2021-08-05 12:19:38.451202',
               '2021-08-06 12:19:38.451202'],
              dtype='datetime64[ns]', freq='D')

In [38]:
# periods 매개변수는 date_ragnge 함수에 전달된 시작날짜와 종료날짜를
# periods 매개변수에 전달된 기준의 수만큼  동일하게 나누어 출력
pd.date_range(start='2020-10-01',end='2020-10-20',periods=6)

DatetimeIndex(['2020-10-01 00:00:00', '2020-10-04 19:12:00',
               '2020-10-08 14:24:00', '2020-10-12 09:36:00',
               '2020-10-16 04:48:00', '2020-10-20 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [39]:
print(pd.date_range('2012-05-02 12:56:31', periods = 5))
print(pd.date_range('2012-05-02 12:56:31', periods = 5, normalize=True)) #날짜만 출력

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

freq 매개변수에 사용되는 Frequncy strings
- A >> calendar year end frequency
- B	>> business day frequency
- C	>> custom business day frequency
- D	>> calendar day frequency
- W	>> weekly frequency
- M	>> month end frequency
- SM >> semi-month end frequency (15th and end of month)
- BM >> business month end frequency
- CBM >> custom business month end frequency
- MS >> month start frequency
- SMS >> semi-month start frequency (1st and 15th)
- BMS >> business month start frequency
- CBMS >> custom business month start frequency
- Q >> quarter end frequency

In [40]:
import numpy as np
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')
print(dates)

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [41]:
import numpy as np
long_df = pd.DataFrame(np.random.randn(100,4),
                      index=dates,
                      columns=['Colorado','Texas','New York','Ohio'])
print(long_df,'\n')
long_df.loc['2001-06']

            Colorado     Texas  New York      Ohio
2000-01-05  0.454497  1.202908  1.220525  1.243327
2000-01-12 -1.603084  0.078907  0.036809 -1.816160
2000-01-19  0.913416 -0.490289  0.131468 -2.396067
2000-01-26 -0.128531 -0.538112  1.766598 -0.008399
2000-02-02 -0.120592  1.048229 -0.613293 -0.516361
...              ...       ...       ...       ...
2001-10-31 -0.651435 -1.454987  0.362672 -0.693489
2001-11-07 -0.300272  1.361734 -1.677335 -0.993919
2001-11-14  1.920440  1.685669 -1.200695  1.054321
2001-11-21 -1.168057  0.788881  0.821962  0.947900
2001-11-28  0.139758  1.622984 -0.986907 -0.281117

[100 rows x 4 columns]

            Colorado     Texas  New York      Ohio
2001-06-06 -0.648204  1.557446 -1.619116 -2.154838
2001-06-13 -0.577010  1.082178  0.627845 -2.121795
2001-06-20 -0.287122 -0.834391  0.851387 -0.089536
2001-06-27 -0.798036 -1.869980  0.310882  2.165606

In [42]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000',
                         '1/3/2000'])
dup_ts =pd.Series(np.arange(5),index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [43]:
dup_ts.index.is_unique #데이터가 많고 확인할때

False

In [44]:
print(dup_ts['1/3/2000'],'\n') #not_duplicated : 스칼라 값 도출.
print(dup_ts['1/2/2000']) #duplicated : 슬라이스 출력

4

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [45]:
grouped = dup_ts.groupby(level=0) #level = 0 / index 기준
print(grouped.mean())
grouped.count()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [46]:
pd.date_range('2000-01-01','2001-03 23:59',freq='4h') #4시간 마다

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               ...
               '2001-02-28 08:00:00', '2001-02-28 12:00:00',
               '2001-02-28 16:00:00', '2001-02-28 20:00:00',
               '2001-03-01 00:00:00', '2001-03-01 04:00:00',
               '2001-03-01 08:00:00', '2001-03-01 12:00:00',
               '2001-03-01 16:00:00', '2001-03-01 20:00:00'],
              dtype='datetime64[ns]', length=2556, freq='4H')

In [47]:
from pandas.tseries.offsets import Hour,Minute
Hour(2) + Minute(30)

In [48]:
pd.date_range('2000-1-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 01:00:00', '2000-01-01 02:30:00',
               '2000-01-01 04:00:00', '2000-01-01 05:30:00',
               '2000-01-01 07:00:00', '2000-01-01 08:30:00',
               '2000-01-01 10:00:00', '2000-01-01 11:30:00',
               '2000-01-01 13:00:00', '2000-01-01 14:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [49]:
rng = pd.date_range('2001-01-01','2029-09-01',freq='WOM-3FRI') #매월 3째쭈 금요일/ week of month , 3 fri
list(rng)

[Timestamp('2001-01-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-02-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-08-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-09-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-10-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-11-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2001-12-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-01-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-02-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-07-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-08-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-09-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-10-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-11-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2002-12-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-01-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-02-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-03-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-04-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-05-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-06-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-07-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-08-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-09-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-10-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-11-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2003-12-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-01-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-02-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-03-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-04-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-05-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-06-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-07-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-08-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-09-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-10-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-11-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2004-12-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-01-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-02-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-03-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-04-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-05-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-06-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-07-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-08-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-09-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-10-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-11-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2005-12-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-03-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-04-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-05-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-06-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-07-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-08-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-09-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-10-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-11-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2006-12-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-01-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-02-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-08-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-09-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-10-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-11-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2007-12-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-01-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-02-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-03-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-04-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-05-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-06-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-07-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-08-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-09-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-10-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-11-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2008-12-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-01-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-02-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-03-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-04-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-05-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-06-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-07-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-08-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-09-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-10-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-11-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2009-12-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-01-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-02-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-03-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-04-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-05-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-06-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-07-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-08-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-09-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-10-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-11-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2010-12-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-01-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-02-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-03-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-04-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-05-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-06-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-07-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-08-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-09-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-10-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-11-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2011-12-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-09-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-10-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-11-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-12-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-01-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-02-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-07-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-08-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-09-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-10-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-11-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2013-12-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-01-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-02-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-03-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-04-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-05-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-06-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-07-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-08-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-09-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-10-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-11-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2014-12-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-01-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-02-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-03-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-04-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-05-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-06-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-07-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-08-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-09-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-10-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-11-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2015-12-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-01-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-02-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-03-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-04-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-05-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-06-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-07-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-08-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-09-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-10-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-11-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2016-12-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-03-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-04-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-05-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-06-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-07-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-08-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-09-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-10-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-11-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-12-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-01-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-02-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-08-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-09-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-10-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-11-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2018-12-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-01-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-02-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-07-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-08-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-09-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-10-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-11-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-12-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-01-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-02-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-03-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-04-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-05-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-06-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-07-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-08-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-09-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-10-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-11-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2020-12-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-01-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-02-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-03-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-04-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-05-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-06-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-07-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-08-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-09-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-10-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-11-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2021-12-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-01-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-02-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-03-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-04-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-05-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-06-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-07-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-08-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-09-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-10-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-11-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-12-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-03-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-04-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-05-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-06-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-07-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-08-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-09-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-10-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-11-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2023-12-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-01-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-02-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-07-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-08-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-09-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-10-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-11-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-12-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-01-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-02-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-03-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-04-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-05-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-06-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-07-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-08-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-09-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-10-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-11-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2025-12-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-01-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-02-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-03-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-04-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-05-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-06-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-07-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-08-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-09-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-10-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-11-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2026-12-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-01-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-02-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-03-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-04-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-05-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-06-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-07-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-08-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-09-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-10-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-11-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2027-12-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-01-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-02-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-03-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-04-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-05-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-06-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-07-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-08-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-09-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-10-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-11-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2028-12-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-01-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-02-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2029-08-17 00:00:00', freq='WOM-3FRI')]

In [50]:
ts =pd.Series(np.random.randn(20),
             index=pd.date_range('1/15/2000',periods=20,freq='4d'))
print(ts)

2000-01-15   -0.978681
2000-01-19   -0.862062
2000-01-23    0.540264
2000-01-27   -1.118343
2000-01-31   -0.739991
2000-02-04   -0.182944
2000-02-08    1.057723
2000-02-12    0.729498
2000-02-16   -0.528406
2000-02-20    1.014098
2000-02-24    0.913872
2000-02-28   -1.095988
2000-03-03   -0.098873
2000-03-07    0.144317
2000-03-11    1.025965
2000-03-15    1.712505
2000-03-19   -0.190295
2000-03-23    0.472114
2000-03-27    0.486466
2000-03-31   -2.468838
Freq: 4D, dtype: float64

In [51]:
import pandas as pd
p = pd.Period(2007,freq='A-DEC') #매년 말일.
p

Period('2007', 'A-DEC')

In [52]:
print(p+5)

2012

In [53]:
p-2

Period('2005', 'A-DEC')

In [54]:
rng = pd.period_range('2000-01-01','2000-06-30', freq='M') 
ts = pd.Series(np.random.randn(6),index=rng) #randn 6개의 표준편차로 나눔. 
print(ts, '\n')
ts.to_timestamp(how='end')

2000-01   -0.970850
2000-02    0.282173
2000-03    0.023083
2000-04    2.236617
2000-05    0.317070
2000-06    0.530644
Freq: M, dtype: float64

2000-01-31 23:59:59.999999999   -0.970850
2000-02-29 23:59:59.999999999    0.282173
2000-03-31 23:59:59.999999999    0.023083
2000-04-30 23:59:59.999999999    2.236617
2000-05-31 23:59:59.999999999    0.317070
2000-06-30 23:59:59.999999999    0.530644
dtype: float64

In [55]:
rng = pd.date_range('2001-01-01',periods=12,freq='T') # T : 분단위
ts = pd.Series(np.arange(12),index=rng)
ts

2001-01-01 00:00:00     0
2001-01-01 00:01:00     1
2001-01-01 00:02:00     2
2001-01-01 00:03:00     3
2001-01-01 00:04:00     4
2001-01-01 00:05:00     5
2001-01-01 00:06:00     6
2001-01-01 00:07:00     7
2001-01-01 00:08:00     8
2001-01-01 00:09:00     9
2001-01-01 00:10:00    10
2001-01-01 00:11:00    11
Freq: T, dtype: int32

In [56]:
ts.resample('5min',closed='right').sum()

2000-12-31 23:55:00     0
2001-01-01 00:00:00    15
2001-01-01 00:05:00    40
2001-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [57]:
ts.resample('5min').ohlc()

                     open  high  low  close
2001-01-01 00:00:00     0     4    0      4
2001-01-01 00:05:00     5     9    5      9
2001-01-01 00:10:00    10    11   10     11

In [58]:
frame = pd.DataFrame(np.random.randn(2,4),
                    index=pd.date_range('1/1/2000',periods=2,
                                       freq='W-WED'),
                    columns=['Colorado','Texas','New York','Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05  0.694427  0.052601  1.436979  0.645375
2000-01-12 -0.486809  0.566453 -1.054809 -0.114012

In [59]:
df_daily = frame.resample('D').asfreq()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05  0.694427  0.052601  1.436979  0.645375
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.486809  0.566453 -1.054809 -0.114012

In [60]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05  0.694427  0.052601  1.436979  0.645375
2000-01-06  0.694427  0.052601  1.436979  0.645375
2000-01-07  0.694427  0.052601  1.436979  0.645375
2000-01-08  0.694427  0.052601  1.436979  0.645375
2000-01-09  0.694427  0.052601  1.436979  0.645375
2000-01-10  0.694427  0.052601  1.436979  0.645375
2000-01-11  0.694427  0.052601  1.436979  0.645375
2000-01-12 -0.486809  0.566453 -1.054809 -0.114012

In [61]:
frame.resample('D').ffill(limit=2).bfill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.694427  0.052601  1.436979  0.645375
2000-01-06  0.694427  0.052601  1.436979  0.645375
2000-01-07  0.694427  0.052601  1.436979  0.645375
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10 -0.486809  0.566453 -1.054809 -0.114012
2000-01-11 -0.486809  0.566453 -1.054809 -0.114012
2000-01-12 -0.486809  0.566453 -1.054809 -0.114012