# [과제]
'dataset/Online_Retail.xlsx' 데이터셋을 불러와서 고객 세그먼테이션을 위한 군집분석을 아래와 같이 수행하세요.
- 전처리 후 실루엣 스코어를 이용하여 평가 및 시각화
- 의미없는 데이터 삭제
- country가 영국인 경우만 선택
- RFM 기반 데이터 가공
    - 고객 분류는 고객의 어떤 요소를 기반으로 군집화할 것인가를 결정하는 것이 중요하며,
        Recency(R), Frequency(F), Monetary Value(M)을 의미하는 RFM 기법이 있다.
        - Recency : 가장 최근 상품 구입일에서 오늘까지의 기간\
        - Frequency : 상품 구매 횟수
        - Monetary Value : 총 구매 금액
    - 군집 개수는 3
    - 여러개의 클러스터링 갯수(2,3,4,5)를 List로 입력 받아 각각의 실루엣 계수를 면적으로 시각화한 함수 작성.
    - 데이터 분포의 왜곡을 해결하기 위한 로그 변환 후 평가 및 시각화

###### module import

In [53]:
# basic module
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt

# scale module
from sklearn.preprocessing import StandardScaler

# cluster module
from sklearn.cluster import KMeans

# silhouette evaluation module
from sklearn.metrics import silhouette_score
from sklearn.metrics import silhouette_samples

# visualize module
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import math

## Data Load

In [2]:
retail = pd.read_excel('Data/Online_Retail.xlsx')
df = retail.copy()
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### data info

In [3]:
def data_info(df,null_count_standard):
    display(df.head(2))
    print('[shape] : ',df.shape)
    print('[rows] : {} , [columns] : {}'.format(df.shape[0],df.shape[1]),'\n')
    print('[house_value_counts] : ',df.dtypes.value_counts(),'\n')
    print('[columns] : ' ,df.columns,'\n')
    nl_v = df.isnull().sum()
    print('[Null_values] : ','\n',nl_v[nl_v>null_count_standard].sort_values(ascending=False))
    print('[Null_columns] : ','\n', list(nl_v[nl_v>null_count_standard].keys()))
data_info(df,0)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

[shape] :  (541909, 8)
[rows] : 541909 , [columns] : 8

[house_value_counts] :  object            4
float64           2
int64             1
datetime64[ns]    1
dtype: int64

[columns] :  Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

[Null_values] :
 CustomerID     135080
Description      1454
dtype: int64
[Null_columns] :
 ['Description', 'CustomerID']

## Data Preprocessing

### Data condition

In [4]:
df['Country'].unique()
df_uk = df[df['Country']=='United Kingdom']
df_uk['Country'].unique()

array(['United Kingdom'], dtype=object)

### Data unique

In [15]:
# Quantity
df_uk['Quantity'].unique() # - value
df_uk = df_uk[ df_uk['Quantity'] > 0 ]

# UnitPrice
df_uk = df_uk[ df_uk['UnitPrice'] > 0 ]

### Delete rows with null values

In [16]:
def del_rows_null(df,columns):
    rows_with_nan = [index for index, row in df[[columns]].iterrows() if row.isnull().any()]
    for i in rows_with_nan:
        df = df.drop(i)

### after preprocessing data info

In [17]:
data_info(df_uk,0)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

[shape] :  (354321, 8)
[rows] : 354321 , [columns] : 8

[house_value_counts] :  object            4
float64           2
int64             1
datetime64[ns]    1
dtype: int64

[columns] :  Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

[Null_values] :
 Series([], dtype: int64)
[Null_columns] :
 []

## RFM

### convert to int

In [21]:
df_uk['amount'] = df_uk['Quantity'] * df_uk['UnitPrice']
df_uk['CustomerID'] = df_uk['CustomerID'].astype(int)

### RFM

Recency(R), Frequency(F), Monetary Value(M)

In [26]:
# Recency - InvoiceData - MAX()
# Frequency - InvocieNo - count()
# Monetary Value - amount - sum()

agg_ = {
    'InvoiceDate' : 'max',
    'InvoiceNo' : 'count',
    'amount' : 'sum'
}

# apply
cust_df = df_uk.groupby('CustomerID').agg(agg_)

# rename
cust_df = cust_df.rename(columns={
    'InvoiceDate' : 'Recency',
    'InvoiceNo' : 'Frequency',
    'amount' : 'Monetary_value'
})

# reset_index
cust_df = cust_df.reset_index()

cust_df.head()

   CustomerID             Recency  Frequency  Monetary_value
0       12346 2011-01-18 10:01:00          1        77183.60
1       12747 2011-12-07 14:34:00        103         4196.01
2       12748 2011-12-09 12:20:00       4595        33719.73
3       12749 2011-12-06 09:56:00        199         4090.88
4       12820 2011-12-06 15:12:00         59          942.34

#### Recency data

In [30]:
# today : 2011/12/10

# Recency = today - recent purchase date
cust_df['Recency'] = dt.datetime(2011,12,10) - cust_df['Recency']

# no zero value --> days + 1
cust_df['Recency'] =  cust_df['Recency'].apply(lambda x: x.days+1)
cust_df.head()

   CustomerID  Recency  Frequency  Monetary_value
0       12346      326          1        77183.60
1       12747        3        103         4196.01
2       12748        1       4595        33719.73
3       12749        4        199         4090.88
4       12820        4         59          942.34

## Clustering

### RFM columns

In [39]:
cust_df.columns
RFM = ['Recency', 'Frequency', 'Monetary_value']

### Scaling

In [44]:
scaler = StandardScaler()
X = cust_df[RFM]
X_scd = scaler.fit_transform(X.values)
X_scd[:1]

array([[ 2.3438109 , -0.41044983, 10.06690642]])

### KMeans
- n_clusters = 3

In [48]:
km = KMeans(n_clusters=3, random_state=0)
km_label = km.fit_predict(X_scd)
km_label

array([0, 1, 0, ..., 1, 1, 1])

### return to or_df

In [50]:
cust_df['km_label'] = km_label
cust_df['km_label'].head(1)

0    0
Name: km_label, dtype: int32

### silhouette evaluation

In [52]:
print('silhouette : {0:.3f}'.format(silhouette_score(X_scd,km_label)))

silhouette : 0.592

## silhouette visualization definition

In [ ]:
def visualize_silhouette(cluster_lists, X_features): 
    
    # 입력값으로 클러스터링 갯수들을 리스트로 받아서, 각 갯수별로 클러스터링을 적용하고 실루엣 개수를 구함
    n_cols = len(cluster_lists)
    
    # plt.subplots()으로 리스트에 기재된 클러스터링 수만큼의 sub figures를 가지는 axs 생성 
    fig, axs = plt.subplots(figsize=(4*n_cols, 4), nrows=1, ncols=n_cols)
    
    # 리스트에 기재된 클러스터링 갯수들을 차례로 iteration 수행하면서 실루엣 개수 시각화
    for ind, n_cluster in enumerate(cluster_lists):
        
        # KMeans 클러스터링 수행하고, 실루엣 스코어와 개별 데이터의 실루엣 값 계산. 
        clusterer = KMeans(n_clusters = n_cluster, max_iter=500, random_state=0)
        cluster_labels = clusterer.fit_predict(X_features)
        
        sil_avg = silhouette_score(X_features, cluster_labels)
        sil_values = silhouette_samples(X_features, cluster_labels)
        
        y_lower = 10
        axs[ind].set_title('Number of Cluster : '+ str(n_cluster)+'\n' \
                          'Silhouette Score :' + str(round(sil_avg,3)) )
        axs[ind].set_xlabel("The silhouette coefficient values")
        axs[ind].set_ylabel("Cluster label")
        axs[ind].set_xlim([-0.1, 1])
        axs[ind].set_ylim([0, len(X_features) + (n_cluster + 1) * 10])
        axs[ind].set_yticks([])  # Clear the yaxis labels / ticks
        axs[ind].set_xticks([0, 0.2, 0.4, 0.6, 0.8, 1])
        
        # 클러스터링 갯수별로 fill_betweenx( )형태의 막대 그래프 표현. 
        for i in range(n_cluster):
            ith_cluster_sil_values = sil_values[cluster_labels==i]
            ith_cluster_sil_values.sort()
            
            size_cluster_i = ith_cluster_sil_values.shape[0]
            y_upper = y_lower + size_cluster_i
            
            color = cm.nipy_spectral(float(i) / n_cluster)
            axs[ind].fill_betweenx(np.arange(y_lower, y_upper), 0, ith_cluster_sil_values, \
                                facecolor=color, edgecolor=color, alpha=0.7)
            axs[ind].text(-0.05, y_lower + 0.5 * size_cluster_i, str(i))
            y_lower = y_upper + 10
            
        axs[ind].axvline(x=sil_avg, color="red", linestyle="--")