In [1]:
#Q 5를 2로 나누었을 때의 몫과 나머지를 구하시오
a = 5
b = 2

몫 = a // b
나머지 = a % b

print(몫)
print(나머지)

2
1

In [2]:
#Q. 101의 3승을 구하세요
101 ** 3

1030301

In [4]:
#Q. Python과 3.8.3을 합쳐서 Python 3.8.3 으로 출력하세요
a = "Python "
b = "3.8.3"
print(a+b)

Python 3.8.3

In [5]:
#Q. a=5 a='10' a = 15 일때 a의 자료형은 무엇인가 
a = 5
print(type(a))
a = '10'
print(type(a))
a = 15
print(type(a))

<class 'int'>
<class 'str'>
<class 'int'>

In [52]:
# 5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요.
5**3%3

2

In [13]:
#Q. 이름을 물어보고 답하는 내용을 출력하세요
Name = input("이름을 입력하세요 : ")
print(Name)

이름을 입력하세요 : 홍길동
홍길동

In [14]:
# 숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 
# 나누었을 때 몫을 구하세요.

a = int(input("첫번째 숫자 : "))
b = int(input("두번째 숫자 : "))
c = int(input("세번째 숫자 : "))

print(a**b//c)

첫번째 숫자 : 2
두번째 숫자 : 2
세번째 숫자 : 2
2

In [15]:
# 1부터 5까지 입력해서 12345를 출력하세요
a = input("입력하세요 : ")
b = input("입력하세요 : ")
c = input("입력하세요 : ")
d = input("입력하세요 : ")
e = input("입력하세요 : ")

print(a+b+c+d+e)

입력하세요 : 1
입력하세요 : 2
입력하세요 : 3
입력하세요 : 4
입력하세요 : 5
12345

In [21]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 
# 리스트로 출력하세요

Li = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del Li[-4]
del Li[-3]
print(Li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [22]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']에서 'c'를 삭제 후 출력하세요.
Li = [0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']
del Li[-1]
print(Li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b']

In [33]:
# [4, 8, 5, 4, 8, 4, 3, 9, 1, 9]를 내림차순으로 정렬하세요
Li = [4, 8, 5, 4, 8, 4, 3, 9, 1, 9]
Li = sorted(Li, reverse = True)
print(Li)
Li_another = [4, 8, 5, 4, 8, 4, 3, 9, 1, 9]
Li_another.sort()
Li_another.reverse()
print(Li_another)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]
[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [39]:
# Q. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요
# 원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠

Year = int(input(" 태어난 연도를 입력하세요 ex)1993 :"))

# 태어난 연도 % 12 == 0 일때 원숭이 띠가 됨. 따라서 각각 나머지가 0~11일 경우 순서대로
# 띠를 출력함

if Year % 12 == 0:
    print("원숭이")
elif Year % 12 == 1:
    print("닭")
elif Year % 12 == 2:
    print("개")
elif Year % 12 == 3:
    print("돼지")
elif Year % 12 == 4:
    print("쥐")
elif Year % 12 == 5:
    print("소")
elif Year % 12 == 6:
    print("범")
elif Year % 12 == 7:
    print("토끼")
elif Year % 12 == 8:
    print("용")
elif Year % 12 == 9:
    print("뱀")
elif Year % 12 == 10:
    print("말")
else:
    print("양")

 태어난 연도를 입력하세요 ex)1993 :2021
소

Q. 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime모듈을 import해서 datetime.now함수를 작성해서 완성

In [54]:
import datetime as dt
Date = dt.datetime.now()
if Date.month in [3,4,5]:
    print("벚꽃엔딩")
elif Date.month in [6,7,8]:
    print("여름소리")
elif Date.month in [9,10,11]:
    print("맑은하늘")
else:
    print("군고구마")

여름소리