Q1

In [2]:
import random
a = []
for i in range(1,46):
    a.append(i)
x = int(input("Lotto counts"))

i = 0
while i < x:
    i +=1
    print(random.sample(a,6))
    #unique 한 원소 6개
    #pop의 빈칸에 요소가 없으면 리스트에서 맨 마지막 요소를 뽑아오고 삭제함.
    #중복을 없앰

Lotto counts5
[30, 23, 17, 21, 43, 11]
[45, 1, 44, 23, 8, 4]
[20, 21, 42, 40, 22, 16]
[9, 10, 40, 44, 24, 12]
[11, 24, 13, 44, 1, 16]

In [22]:
import random
r = list(range(1,46))
print(r)
for i in range(6):
    it = random.sample(r,6)
    print(it)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[18, 16, 10, 3, 45, 43]
[25, 34, 42, 12, 19, 11]
[4, 11, 39, 5, 7, 30]
[17, 19, 2, 36, 14, 34]
[7, 24, 26, 21, 36, 41]
[34, 17, 42, 38, 6, 5]

In [23]:
from random import shuffle #1chrksrur


#while stripp fol 
from time import sleep

gn = int(input("팬치들 꺼져):")
for i in range(gn):
    it=[x+1 for x in range(45)]
    ret = []
         for j in range(6):
         shuffle (it))

SyntaxError: invalid syntax (<ipython-input-23-1c390d9a3308>, line 5)

Q2

In [3]:
A = [1,2,3,4,5]
B = ['a','b','c','d','e']

import random
random.shuffle(A)
random.shuffle(B)

i = 0
while i <5:
    C=A[i], B[i]
    print(C)
    i += 1

(5, 'd')
(3, 'c')
(4, 'a')
(1, 'b')
(2, 'e')

Q2_1

In [7]:
A = [1,2,3,4,5]
B = ['a','b','c','d','e']

import random
random.shuffle(A)     #지정 안했을시 [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]
random.shuffle(B)


C=list(zip(A,B))
C

[(5, 'c'), (1, 'a'), (4, 'b'), (2, 'd'), (3, 'e')]

Q3

In [9]:
Q = input('String')
print(Q[1:]+Q[0])

Stringabc
bca

Q4

In [14]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
clean_url = url.split('/')
host_domain = clean_url[2]
print(host_domain)

news.naver.com

Q5

Q6

In [17]:
with open('../Data/mydata.txt','r') as file:
    data = file.read()

In [20]:
with open('../Data/mydata.txt','r') as file:
    data =file.read()
    word=data.split()
    print(len(word))

213

Q11

In [ ]:
def Birth_data(): #Sort할 생각을 해봐야함. sort(key- )
    
    for year in range(1880,2016):
        
        with open("../Data/names/yob%d.txt"%year) as raw_data:
            
            for data in raw_data:
                
                if data[-1] == '/n':
                    data = data.replace('\n',',')
                    clean_data = data.split(',')
                    name = clean_data[0]
                    gender = clean_data[1]
                    birth = clean_data[2]
                    
#                   print(data)
                
                
Birth_data()

Population by name/gender/birth

In [5]:
from os.path import exists

def getTop10BabyName(year):
    nameF = {}
    nameM = {}  #딕셔너리로 저장

    filename = '../Data/names/yob%s.txt'%year
    if not exists(filename):
        print('[%s] 파일이 존재하지 않습니다.'%filename)  
        return None  #일단 오류를 처리 

    with open(filename, 'r') as f:
        data = f.readlines()   #전체 데이터 라인 모두 읽음.
        for d in data:
            if d[-1] == '\n':  #줄의 마지막(개행이 있으면)
                d = d[:-1]     #개행을 제외함. (개행 앞까지만)
            tmp = d.split(',') #이름/성별/수를 ','로 나눔
            name = tmp[0]      #인덱스별로 이름/성별/수로 변수를 setting
            sex = tmp[1]
            birth = tmp[2]

            if sex == 'F':     #조건처리: Gender == 여자  (ret은 임의 변수)
                ret = nameF    #nameF는 딕셔너리, 따라서 키와 값이 필요함.
                               #name가 key, birth 가 value 로 저장됨

            else:
                ret = nameM

            if name in ret:    #임의변수 ret에서 name(key)이 있으면 birth 추가.
                ret[name] += int(birth)
            else:
                ret[name] = int(birth)
    retF = sorted(nameF.items(), key=lambda x:x[1], reverse=True) #사전형에서 item() 
                                                                  #키와 값을 튜플로 색출
    retM = sorted(nameM.items(), key=lambda x:x[1], reverse=True) #x:x[1] 로 사전형의 값, 
                                                                  #value여기선 birth를 기준

    for i, name in enumerate(retF): #index와 요소를 같이 개전. "enumerate"
        if i > 9: #내림차순이 되어 있기 때문에 index가 10이 넘어가면 x. 따라서 break (0~9)
            break
        print('TOP_%d 여자아기 이름:%s'%(i+1,name))
    for i, name in enumerate(retM):
        if i > 9:
            break
        print('TOP_%d 남자아기 이름:%s'%(i+1,name))

In [6]:
getTop10BabyName(1880)

TOP_1 여자아기 이름:('Mary', 7065)
TOP_2 여자아기 이름:('Anna', 2604)
TOP_3 여자아기 이름:('Emma', 2003)
TOP_4 여자아기 이름:('Elizabeth', 1939)
TOP_5 여자아기 이름:('Minnie', 1746)
TOP_6 여자아기 이름:('Margaret', 1578)
TOP_7 여자아기 이름:('Ida', 1472)
TOP_8 여자아기 이름:('Alice', 1414)
TOP_9 여자아기 이름:('Bertha', 1320)
TOP_10 여자아기 이름:('Sarah', 1288)
TOP_1 남자아기 이름:('John', 9655)
TOP_2 남자아기 이름:('William', 9532)
TOP_3 남자아기 이름:('James', 5927)
TOP_4 남자아기 이름:('Charles', 5348)
TOP_5 남자아기 이름:('George', 5126)
TOP_6 남자아기 이름:('Frank', 3242)
TOP_7 남자아기 이름:('Joseph', 2632)
TOP_8 남자아기 이름:('Thomas', 2534)
TOP_9 남자아기 이름:('Henry', 2444)
TOP_10 남자아기 이름:('Robert', 2415)