In [1]:
import re

In [2]:
a = '가양1동'

In [20]:
p = re.compile('[가-힣]+[^0-9+]')

In [21]:
p1 = p.search(a)
p1

In [48]:
def C8(x):
    import re

    p = re.compile('[가-힣]+(d|)+(읍|면|동|가|리)')

    r = p.findall(x)
    
    return ''.join(r)

In [ ]:
def dong(x):
    import re

    p = re.compile('[가-힣]\S*[0-9]{1}[읍면동가]')

    r = p.findall(x)
    
    return ''.join(r)

In [ ]:
([가-힣]+(d|)+(읍|면|동|가|리))

In [24]:
import pandas as pd

In [29]:
practice = pd.read_csv('Dataset/human/서울.csv',index_col=0)

In [30]:
practice

     시군구  읍면동
0    강남구  개포동
13   강남구  청담동
12   강남구  자곡동
10   강남구  율현동
9    강남구  역삼동
..   ...  ...
401  중랑구  망우동
402  중랑구  면목동
403  중랑구   묵동
404  중랑구  상봉동
406  중랑구  중화동

[407 rows x 2 columns]

In [38]:
practice['연습'] = practice['읍면동'].apply(dong)

In [40]:
practice

     시군구  읍면동 연습
0    강남구  개포동
13   강남구  청담동
12   강남구  자곡동
10   강남구  율현동
9    강남구  역삼동
..   ...  ... ..
401  중랑구  망우동
402  중랑구  면목동
403  중랑구   묵동
404  중랑구  상봉동
406  중랑구  중화동

[407 rows x 3 columns]

In [116]:
A = ['유훈1가','기범1동','승혜동1가','광훈1동1가','교동']

In [117]:
a = pd.DataFrame(A)

In [123]:
a = a.rename(columns={0:'B'})

In [124]:
a

        B
0    유훈1가
1    기범1동
2   승혜동1가
3  광훈1동1가
4      교동

In [125]:
def dong(x):
    import re

    p = re.compile("[가-힣][^(구\s)]+동[^1-9|가]")

    r = p.findall(x)
    
    return ''.join(r)

In [126]:
# [가-힣][^(구\s)]+동[^1-9|가]

In [ ]:
a = '종로1가1동'

import re
data = '종로1가1동'
results = re.split(r'\d+',data)

print(results[0])
print(results[-1])

In [127]:
def ga(x):
    import re

    p = re.compile("[가-힣]+\s?[1-9]가")

    r = p.findall(x)
    
    return ''.join(r)

In [131]:
a['C'] = a['B'].apply(ga)

In [132]:
a

        B      C
0    유훈1가   유훈1가
1    기범1동
2   승혜동1가  승혜동1가
3  광훈1동1가    동1가
4      교동

In [90]:
b['c8'].unique()

array(['', '충정로3가', '충정로2가', '성수동2가', '금호동1가', '금호동2가', '성수동1가', '금호동4가',
       '금호동3가', '삼선동1가', '삼선동2가', '안암동1가', '안암동3가', '안암동4가', '보문동7가',
       '안암동2가', '안암동5가', '보문동5가', '보문동4가', '동선동1가', '보문동6가', '동선동4가',
       '동소문동1가', '동선동3가', '동소문동4가', '동소문동5가', '동소문동6가', '동소문동7가', '보문동1가',
       '보문동2가', '동소문동2가', '양평동2가', '양평동4가', '양평동5가', '양평동6가', '영등포동6가',
       '영등포동2가', '영등포동3가', '영등포동4가', '양평동1가', '영등포동7가', '영등포동8가',
       '영등포동1가', '양평동3가', '문래동6가', '당산동1가', '당산동2가', '당산동3가', '당산동4가',
       '당산동6가', '문래동1가', '문래동2가', '문래동3가', '문래동4가', '문래동5가', '원효로4가',
       '청파동1가', '청파동2가', '한강로2가', '한강로1가', '한강로3가', '원효로2가', '청파동3가',
       '원효로1가', '원효로3가', '용산동5가', '용산동2가', '용산동4가', '용산동6가', '종로3가',
       '종로2가', '종로4가', '종로5가', '신문로1가', '명륜2가', '명륜1가', '명륜3가', '명륜4가',
       '을지로6가', '을지로7가', '의주로2가', '인현동2가', '장충동1가', '장충동2가', '저동2가',
       '인현동1가', '태평로2가', '충무로2가', '충무로3가', '충무로4가', '충무로5가', '태평로1가',
       '필동2가', '필동3가', '회현동1가', '을지로5가', '을지로4가', '봉래동2가', '을지로2가',
       '광희동1가', '광희동2가', '남대문로1가', '남대문로3가', '남대문로5가', '남산동2가', '을지로3가',
       '명동2가', '명동1가', '을지로1가'], dtype=object)

In [ ]:
practice = pd.read_csv('Dataset/human/서울.csv',index_col=0)