In [2]:
import pyrebase

# data=[{"name":"권준기","age":5},{"name":"김광훈","age":28}]
config = {
  "apiKey": "AIzaSyDz56w2ZxZfCnfIdkVKTVqTqJsuO_tikLo",
  "authDomain": "myfirstproject-34576.firebaseapp.com",
  "databaseURL": "https://myfirstproject-34576-default-rtdb.firebaseio.com",
  "projectId": "myfirstproject-34576",
  "storageBucket": "myfirstproject-34576.appspot.com",
  "messagingSenderId": "644332526134",
  "appId": "1:644332526134:web:6e423dbd653bf89fd95697",
  "measurementId": "G-R5JX7TV6W6"
}

firebase = pyrebase.initialize_app(config)
database = firebase.database()

# database.child('TourRecommend').child('record').set(data)

In [6]:
a = input("A")
b = input("B")
data = {'A':a,'B':b}
database.child('TourRecommend').child('record').push(data)

AA
BB

{'name': '-MfIbY2Eaml56DIL9lKA'}

In [ ]:
# firebase = pyrebase.initialize_app(config)
# database = firebase.database()

# res=database.child('TourRecommend').child('record').get()
# rw = res.val()
# rw
# pd.DataFrame(rw)

In [9]:
import pandas as pd

In [ ]:
import firebase_admin import db
ref = db.reference()

In [10]:
res=database.child('TourRecommend').child('record').get()
rw = res.val()
rw
pd.DataFrame(rw)

  -MfIbY2Eaml56DIL9lKA
A                    A
B                    B

In [ ]:
# # diction 형태로 받아줘야 함.
# # method 함수는 그대로 적용됨.
# p_date = input("여행날짜 ex)20210701 : ")
# # f_p_date = m.fr_date(p_date)

# p_type = input("관광 유형을 고르세요. 도시/바다/캠핑/등 : ")
# p_start = input("출발 장소를 입력하세요 : ")
# p_dn_name = input("여행목적지(관광지명) : ")

# #r_s_d 값
# # r_s_d = m.getLatLng(p_start,p_dn_name)

# p_transportation = input("이동수단을 고르세요. 도보/지역버스(지하철)/자동차/고속버스/전철(KTX)/비행기 : ")
# p_length_of_stay = int(input("총 여행 기간 : __ 일 : "))
# p_cost = int(input("총 지출 금액 : __ 원 : "))
# p_satisfaction = float(input("관광만족도는 어떠셧습니까? <매우좋았음:5 ~ 비추천:1> : "))

# #상기 확인 값 -> tkinter 출력값 따로 저장 X
# input_data = {
#     "여행날짜":p_date,
#     '관광유형':p_type,
#     '출발지':p_start,
#     '관광지명':p_dn_name,
#     '이동수단':p_transportation,
#     '관광기간':p_length_of_stay,
#     '총비용':p_cost,
#     '만족도':p_satisfaction
# }

# #평가 데이터 기록값
# # ev_c = m.evalue_costs(p_cost,p_length_of_stay)
# # ev_d = m.evalue_by_distance(p_transportation,r_s_d)
# # ev_s = m.evalue_by_satisfaction(p_satisfaction)

# #추가 평가값
# input_value = {
#     '지출비용평가점수':p_cost,
#     '이동비율평가점수':p_cost,
#     '만족도평가점수':p_cost
# }

# # 출력값이 맞을시
# # correct = input("이 기록이 맞으시면 '예', 아니면 '아니오' 을 눌러주세요 : ")
# # try:
# #     if correct == "예":
# #         print('기록하신 내용이 저장됩니다.') # tkinter 출력값

# # input_data.update(input_value) 제 1 데이터

In [ ]:
ㅌ

In [ ]:
import pandas as pd