##### 연산
    행/열 인덱스를 기준으로 모든 원소를 정렬한다
    동일한 위치에 있는 원소끼리 일대일 대응시킨다
    일대일 대응이 되는 원소끼리 연산을 처리한다

In [5]:
import pandas as pd
St1 = pd.Series({'국어':100,'영어':90,'수학':80})
St2 = pd.Series({'국어':90,'영어':80,'수학':80})
print(St1)
print(St2)

국어    100
영어     90
수학     80
dtype: int64
국어    90
영어    80
수학    80
dtype: int64

Series 간 연산

In [9]:
add = St1 + St2
sub = St1 - St2
mul = St1 * St2
div = round((St1 / St2),2)
print(add)

국어    190
영어    170
수학    160
dtype: int64

In [15]:
df = pd.concat([add,sub,mul,div],axis = 1)
df_rn = df.rename(columns={0:'Sum',1:'Sub',2:'Mul',3:'Div'})
df_rn

    Sum  Sub   Mul   Div
국어  190   10  9000  1.11
영어  170   10  7200  1.12
수학  160    0  6400  1.00