In [1]:
import numpy as np

In [2]:
#Boolen Indexing

In [3]:
ar1 = np.arange(1,10)
print(ar1)
print(ar1>5)
ar2 = ar1[ar1>5]
print(ar2)

[1 2 3 4 5 6 7 8 9]
[False False False False False  True  True  True  True]
[6 7 8 9]

In [4]:
indexes = np.array([5,6,7,8])
ar3 = ar1[indexes]
ar3

array([6, 7, 8, 9])

Q. 1~14까지 ndarray를 만들어 array_e로 저장하고 (array_e / 2) >5 를 만족하는 불린 인덱스로 출력하세요

In [5]:
array_e = np.arange(1,15)
print(array_e)
find = (array_e/2) > 5
answer = array_e[find]
answer

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]

array([11, 12, 13, 14])

In [6]:
find

array([False, False, False, False, False, False, False, False, False,
       False,  True,  True,  True,  True])

In [7]:
names = np.array(["Bob","Joe","Will","Bob","Will","Joe","Joe"])
data  = np.random.randn(7,4)
print(names,'\n')
print(data)

['Bob' 'Joe' 'Will' 'Bob' 'Will' 'Joe' 'Joe']

[[-0.05150796  0.58001872  2.47531577  0.18673255]
 [-0.60387192 -0.91948971  0.7775043  -1.39836015]
 [ 1.17669963  0.08425142  0.75007856  0.58611271]
 [-1.44996199  0.41176641 -0.22894475 -0.41998396]
 [-0.58323734  2.44344973  1.04789772  0.82070602]
 [ 0.62605648 -0.16241381 -1.22581946  2.05328004]
 [-0.6658823  -1.13749698 -0.43122047 -0.80596376]]

In [8]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [9]:
data[names=='Bob']

array([[-0.05150796,  0.58001872,  2.47531577,  0.18673255],
       [-1.44996199,  0.41176641, -0.22894475, -0.41998396]])

In [10]:
data[names =='Bob',2:]

array([[ 2.47531577,  0.18673255],
       [-0.22894475, -0.41998396]])

In [11]:
data[names != 'Bob']

array([[-0.60387192, -0.91948971,  0.7775043 , -1.39836015],
       [ 1.17669963,  0.08425142,  0.75007856,  0.58611271],
       [-0.58323734,  2.44344973,  1.04789772,  0.82070602],
       [ 0.62605648, -0.16241381, -1.22581946,  2.05328004],
       [-0.6658823 , -1.13749698, -0.43122047, -0.80596376]])

In [12]:
mask = (names == 'Bob') | (names == 'Will')
data[mask]

array([[-0.05150796,  0.58001872,  2.47531577,  0.18673255],
       [ 1.17669963,  0.08425142,  0.75007856,  0.58611271],
       [-1.44996199,  0.41176641, -0.22894475, -0.41998396],
       [-0.58323734,  2.44344973,  1.04789772,  0.82070602]])

In [13]:
data[data<0] = 0
data

array([[0.        , 0.58001872, 2.47531577, 0.18673255],
       [0.        , 0.        , 0.7775043 , 0.        ],
       [1.17669963, 0.08425142, 0.75007856, 0.58611271],
       [0.        , 0.41176641, 0.        , 0.        ],
       [0.        , 2.44344973, 1.04789772, 0.82070602],
       [0.62605648, 0.        , 0.        , 2.05328004],
       [0.        , 0.        , 0.        , 0.        ]])

In [14]:
data[names != 'Joe'] = 7
data

array([[7.        , 7.        , 7.        , 7.        ],
       [0.        , 0.        , 0.7775043 , 0.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [0.62605648, 0.        , 0.        , 2.05328004],
       [0.        , 0.        , 0.        , 0.        ]])

In [15]:
#배열의 전치와 축 바꾸기
ar = np.arange(15).reshape(3,5)
ar

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [16]:
ar_t = ar.T

In [17]:
ar = ar_t.T
ar

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

6행 3열짜리 난수로 된

In [18]:
np.random.seed(0)
ar = np.random.randn(6,3)
ar

array([[ 1.76405235,  0.40015721,  0.97873798],
       [ 2.2408932 ,  1.86755799, -0.97727788],
       [ 0.95008842, -0.15135721, -0.10321885],
       [ 0.4105985 ,  0.14404357,  1.45427351],
       [ 0.76103773,  0.12167502,  0.44386323],
       [ 0.33367433,  1.49407907, -0.20515826]])

In [19]:
ar = np.arange(1,101)

In [20]:
ans1 = ar[ar % 3 == 0]
ans2 = ar[(ar%3 == 0) | (ar%5 ==0)]
ans3 = ar[(ar%3 ==0) & (ar%5 == 0 )]

In [21]:
ar = np.random.randn(5,4)

In [22]:
#반올림
ar.mean().round(4)

0.0632

In [23]:
ar.sum().round(4)

1.2636

In [24]:
ar = np.arange(1,9)
print(ar,'\n')
ar.cumsum() #누적합계

[1 2 3 4 5 6 7 8]

array([ 1,  3,  6, 10, 15, 21, 28, 36], dtype=int32)

In [25]:
ar =  np.arange(9).reshape(3,3)
print(ar,'\n')
ar.cumsum(axis=1)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[ 0,  1,  3],
       [ 3,  7, 12],
       [ 6, 13, 21]], dtype=int32)

In [26]:
np.random.seed(0)
ar = np.random.randn(10)
print(ar,'\n')
(ar>0).sum()
len(ar[ar>0])

[ 1.76405235  0.40015721  0.97873798  2.2408932   1.86755799 -0.97727788
  0.95008842 -0.15135721 -0.10321885  0.4105985 ]

7

In [27]:
bools = np.array([False,False,True,True])
bools.any() # 요소 중 하나가 True인지

True

In [28]:
bools.all() # 요소 전체가 True인지

False

In [29]:
#삼항식의 벡터화버전 (조건,a,b)
ar = np.random.randn(4,4)
print(ar)
np.where(ar>0,2,-2) # where( 조건, 맞을때 리턴값, 아닐때 리턴값)

[[ 0.14404357  1.45427351  0.76103773  0.12167502]
 [ 0.44386323  0.33367433  1.49407907 -0.20515826]
 [ 0.3130677  -0.85409574 -2.55298982  0.6536186 ]
 [ 0.8644362  -0.74216502  2.26975462 -1.45436567]]

array([[ 2,  2,  2,  2],
       [ 2,  2,  2, -2],
       [ 2, -2, -2,  2],
       [ 2, -2,  2, -2]])

Q. ar에서 모든 양수를 2로 바꾼 뒤 출력하세요.

In [30]:
np.where(ar>0,2,ar) # 그대로 반환

array([[ 2.        ,  2.        ,  2.        ,  2.        ],
       [ 2.        ,  2.        ,  2.        , -0.20515826],
       [ 2.        , -0.85409574, -2.55298982,  2.        ],
       [ 2.        , -0.74216502,  2.        , -1.45436567]])

In [31]:
#Np.sort9)
ar = np.random.randn(5)
print(ar,'\n')
print(np.sort(ar)) #만영이 되지 않는다. 
print(ar)

[ 0.04575852 -0.18718385  1.53277921  1.46935877  0.15494743]

[-0.18718385  0.04575852  0.15494743  1.46935877  1.53277921]
[ 0.04575852 -0.18718385  1.53277921  1.46935877  0.15494743]

행렬이 2차원 이상일 경우 axis 축 값 설정을 통해 행, 열, 방향으로 정렬 수행

In [34]:
ar2 = np.array([[8,12],
                [7,1]])
sort_sr2_a0 = np.sort(ar2,axis=0)
print(sort_sr2_a0,'\n')
sort_sr2_a1 = np.sort(ar2,axis=1)
print(sort_sr2_a1)

[[ 7  1]
 [ 8 12]]

[[ 8 12]
 [ 1  7]]

In [39]:
# ndarray.sort() : 원본 반영
ar = np.random.randn(6)
print(ar,'\n')
ar.sort()
print(ar)

[ 0.42833187  0.06651722  0.3024719  -0.63432209 -0.36274117 -0.67246045]

[-0.67246045 -0.63432209 -0.36274117  0.06651722  0.3024719   0.42833187]

In [40]:
ar2 = np.random.randn(5,3)
print(ar2,'\n')
ar2.sort(0)
print(ar2)

[[-0.35955316 -0.81314628 -1.7262826 ]
 [ 0.17742614 -0.40178094 -1.63019835]
 [ 0.46278226 -0.90729836  0.0519454 ]
 [ 0.72909056  0.12898291  1.13940068]
 [-1.23482582  0.40234164 -0.68481009]]

[[-1.23482582 -0.90729836 -1.7262826 ]
 [-0.35955316 -0.81314628 -1.63019835]
 [ 0.17742614 -0.40178094 -0.68481009]
 [ 0.46278226  0.12898291  0.0519454 ]
 [ 0.72909056  0.40234164  1.13940068]]

In [41]:
np.random.seed(0)
ar2 = np.random.randn(5,3)
print(ar2)
ar2.sort(-1)
print(ar2)
ar2.sort()
print(ar2)

[[ 1.76405235  0.40015721  0.97873798]
 [ 2.2408932   1.86755799 -0.97727788]
 [ 0.95008842 -0.15135721 -0.10321885]
 [ 0.4105985   0.14404357  1.45427351]
 [ 0.76103773  0.12167502  0.44386323]]
[[ 0.40015721  0.97873798  1.76405235]
 [-0.97727788  1.86755799  2.2408932 ]
 [-0.15135721 -0.10321885  0.95008842]
 [ 0.14404357  0.4105985   1.45427351]
 [ 0.12167502  0.44386323  0.76103773]]
[[ 0.40015721  0.97873798  1.76405235]
 [-0.97727788  1.86755799  2.2408932 ]
 [-0.15135721 -0.10321885  0.95008842]
 [ 0.14404357  0.4105985   1.45427351]
 [ 0.12167502  0.44386323  0.76103773]]

In [46]:
ar = np.array([3,3,2,2,1,1])
np.unique(ar)

array([1, 2, 3])

In [47]:
values = np.array([6,0,0,3,2,5,6])
np.in1d(values,[2,3,6]) #numpy in 1 dimension

array([ True, False, False,  True,  True, False,  True])

In [49]:
# 배열 데이터의 입출력 : np.save, np.load.npy 형식
arr = np.arange(10)
np.save('../Data/some_array',arr)
np.load('../Data/some_array.npy')

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

<img src = '../Data/내적.jpg' STYLE = 'width:1500px;'>

벡터 a를 벡터 b와 같은 방향의 성분과 그렇지 않은 성분으로 분해한다고 할 때 $|a|cosθ$의 길이는 벡터 b와 같은 방향의 성분 길이와 같다.  

벡터 a와 b의 내적은 벡터 b의 길이와 벡터 a에서 벡터 b와 같은 방향의 성분 길이를 곱한 것이다.

- 행렬 내적은 행렬 곱이며 두 행렬 A와 B의 내적은 np.dot()을 이용해 계산이 가능
- 행렬 내적의 특성으로 왼쪽 행렬의 열개수와 오른쪽 행렬의 행개수가 동일해야 내적 연산 가능

In [53]:
# 행렬 곱 : dot 함수. x.dot(y) , np.dot(x,y)
x = np.arange(1,7).reshape(2,3)
y = np.array([[6.,23],[-1,7],[8,9]])
print(x)
print(y)
np.dot(x,y)

[[1 2 3]
 [4 5 6]]
[[ 6. 23.]
 [-1.  7.]
 [ 8.  9.]]

array([[ 28.,  64.],
       [ 67., 181.]])

<img src = '../Data/행렬곱.jpg' STYLE = 'width:500px;'>

In [58]:
#역행렬: 어떤 행렬 a와 곱했을 때 곱셈에 대한 항등원인 단위행렬 E가 나오는 행렬.
#이떄의 행렬을 행렬 a의 역행렬이라 함. np.linalg.inv()
np.random.seed(0)
mt1 = np.random.randint(1,4,size=(3,3))
print(mt1)
mt2 = np.linalg.inv(mt1)
print(mt2)

[[1 2 1]
 [2 2 3]
 [1 3 1]]
[[ 7. -1. -4.]
 [-1.  0.  1.]
 [-4.  1.  2.]]

In [59]:
mta = mt1.dot(mt2)

In [60]:
mta

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Q. 아래 두행렬을 np.arange, reshape 를 이용해서 생성 
- 각각  a1, b1 으로 저장하고 행렬 내적을 계산한 결과를 출력하세요.

In [66]:
ar1 = np.arange(1,7).reshape(2,3)
ar2 = np.arange(10,16).reshape(3,2)
A12 = np.dot(ar1,ar2)
print(A12)

[[ 76  82]
 [184 199]]