In [1]:
import urllib.request as req
from urllib.parse import unquote
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import json
import xmltodict

In [2]:
url = 'http://api.visitkorea.or.kr/openapi/service/rest/DataLabService/metcoRegnVisitrDDList'
params = dict()
API_KEY = '0nvWRjDWerwQGQ7dGwJhCm%2FxEkkbYBiWQXfnf%2BJkkO3dkoTpaGvyy44heAG1hY%2BjV7ZQxbK0LlDdoeer2yORHw%3D%3D'
KEY = unquote(API_KEY)
params['serviceKey'] = KEY
params['MobileOS'] = 'ETC'
params['MobileApp'] = 'TEST'
params['numOfRows'] = 1000
params['pageNo'] = 1
params['startYmd'] = 20210101
params['endYmd'] = 20210701
params['touDivCd'] = 1

response = requests.get(url,params=params)
# http://api.visitkorea.or.kr/openapi/service/rest/DataLabService/metcoRegnVisitrDDList?serviceKey=서비스인증키
#     &MobileOS=ETC&MobileApp=AppTest
#     &startYmd=20210513&endYmd=2120513

In [3]:
html = response.text
dicts = xmltodict.parse(html)
json_obj = json.dumps(dicts)
dict_data =json.loads(json_obj)
dict_data1 = dict_data['response']['body']['items']['item']
print(dict_data1[0])

{'areaCode': '27', 'areaNm': '대구광역시', 'baseYmd': '20210428', 'daywkDivCd': '3', 'daywkDivNm': '수요일', 'touDivCd': '3', 'touDivNm': '외국인(c)', 'touNum': '260.1273705'}

In [4]:
cols = ['시도코드','시도명','기준연월일','요일코드','요일명','관광객구분코드','관광객구분명','관광객수']
t_df = pd.DataFrame(columns=cols)
idx = 1
for i in range(0,len(dict_data1)):
    areaCode = dict_data1[i]['areaCode']
    areaNm = dict_data1[i]['areaNm']
    baseYmd = dict_data1[i]['baseYmd']
    daywkDivCd = dict_data1[i]['daywkDivCd']
    daywkDivNm = dict_data1[i]['daywkDivNm']
    touDivCd = dict_data1[i]['touDivCd']
    touDivNm = dict_data1[i]['touDivNm']
    touNum = dict_data1[i]['touNum']
    t_df.loc[idx] = [areaCode,areaNm,baseYmd,daywkDivCd,daywkDivNm,touDivCd,touDivNm,touNum]
    idx += 1

In [5]:
t_df = t_df.sort_values('시도코드')
t_df.set_index('시도명')

        시도코드     기준연월일 요일코드  요일명 관광객구분코드  관광객구분명         관광객수
시도명
서울특별시     11  20210429    4  목요일       1  현지인(a)      4492117
서울특별시     11  20210502    7  일요일       3  외국인(c)  3323.692794
서울특별시     11  20210502    7  일요일       2  외지인(b)    1211213.5
서울특별시     11  20210502    7  일요일       1  현지인(a)    4079169.5
서울특별시     11  20210506    4  목요일       1  현지인(a)      4724202
...      ...       ...  ...  ...     ...     ...          ...
제주특별자치도   50  20210426    1  월요일       1  현지인(a)       525175
제주특별자치도   50  20210426    1  월요일       2  외지인(b)     184117.5
제주특별자치도   50  20210426    1  월요일       3  외국인(c)  1246.437062
제주특별자치도   50  20210501    6  토요일       1  현지인(a)       519771
제주특별자치도   50  20210503    1  월요일       2  외지인(b)     156061.5

[1000 rows x 7 columns]

In [7]:
from pandas.io.json import json_normalize

In [8]:
url ='http://api.visitkorea.or.kr/openapi/service/rest/KorService/searchFestival?serviceKey=0nvWRjDWerwQGQ7dGwJhCm%2FxEkkbYBiWQXfnf%2BJkkO3dkoTpaGvyy44heAG1hY%2BjV7ZQxbK0LlDdoeer2yORHw%3D%3D&MobileOS=ETC&MobileApp=AppTest&arrange=A&numOfRows=3000&pageNo=1&listYN=Y&_type=json'
response = req.urlopen(url)
json_str = response.read().decode('utf-8')
json_obj = json.loads(json_str)
a = [json_obj['response']['body']['items']['item']]
raw_data = json_normalize(json_obj['response']['body']['items']['item'])

<ipython-input-8-9dadcf69429c>:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  raw_data = json_normalize(json_obj['response']['body']['items']['item'])

In [10]:
data = raw_data.copy()

In [13]:
data.head()
data.columns

Index(['addr1', 'areacode', 'cat1', 'cat2', 'cat3', 'contentid',
       'contenttypeid', 'createdtime', 'eventenddate', 'eventstartdate',
       'firstimage', 'firstimage2', 'mapx', 'mapy', 'mlevel', 'modifiedtime',
       'readcount', 'sigungucode', 'tel', 'title', 'addr2'],
      dtype='object')

In [16]:
#column 정리
data.drop(['areacode','cat1','cat2','cat3','contentid','contenttypeid','createdtime','firstimage','firstimage2','mlevel'],axis=1,inplace=True)

In [18]:
data.drop('addr2',axis=1,inplace=True)

In [20]:
#column 정렬
data.columns

Index(['addr1', 'eventenddate', 'eventstartdate', 'mapx', 'mapy',
       'modifiedtime', 'readcount', 'sigungucode', 'tel', 'title'],
      dtype='object')

In [26]:
new_cols =['title', 'eventstartdate', 'eventenddate','sigungucode', 'mapx', 'mapy', 'tel', 'addr1','readcount','modifiedtime']
data = data[new_cols]
data.set_index('title')

KeyError: "['title'] not in index"

In [29]:
data = data.sort_values('readcount',ascending=False)
data

,eventstartdate,eventenddate,sigungucode,mapx,mapy,tel,addr1,readcount,modifiedtime
title,,,,,,,,,
영등포 여의도봄꽃축제,20210405,20210430,20.0,126.914133,37.532032,02-2670-3114,서울특별시 영등포구 여의서로,746805.0,20210401172258
창덕궁 달빛기행,20210429,20210620,23.0,126.991339,37.582825,02-3210-3503,서울특별시 종로구 율곡로,700585.0,20210504164714
[명예대표축제]진주 남강유등축제 2020,20201001,20201011,13.0,128.080276,35.189746,055-755-9111,경상남도 진주시 남강로 626,685539.0,20201201165059
오색별빛정원전 2021,20201204,20210314,1.0,127.352585,37.74484,1544-6703,경기도 가평군 상면 수목원로 432,575986.0,20201130161907
태안 세계튤립꽃박람회,20210409,20210510,14.0,126.33678,36.501102,041-675-5533,충청남도 태안군 안면읍 꽃지해안로 400,564948.0,20210413091916
...,...,...,...,...,...,...,...,...,...
기획오페라 <사랑의 묘약> 2021,20210128,20210130,5.0,128.5922570230,35.883507,053-666-6170,대구광역시 북구 호암로 15,0.0,20210128165716
익산식품대전,20200904,20200910,9.0,127.082922,35.9795610080,NaN,온라인개최,0.0,20210621171209
국제해양영화제,20210722,20210725,16.0,129.127152,35.17112,051-790-9413,부산광역시 해운대구 수영강변대로 120,NaN,20210715111602
대한민국 청년미술축제,20210716,20210730,18.0,127.096301,37.502278,070-7938-5480,서울특별시 송파구 백제고분로 270,NaN,20210715173502
KOREA 월드푸드챔피언십,20211105,20211107,8.0,126.877055,37.480046,02)802-7666/7669,서울특별시 금천구 서부샛길 606,NaN,20210715142058

In [31]:
#결측값 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 734 entries, 영등포 여의도봄꽃축제 to KOREA 월드푸드챔피언십
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   eventstartdate  734 non-null    int64
 1   eventenddate    734 non-null    int64
 2   sigungucode     727 non-null    float64
 3   mapx            702 non-null    object
 4   mapy            702 non-null    object
 5   tel             725 non-null    object
 6   addr1           733 non-null    object
 7   readcount       731 non-null    float64
 8   modifiedtime    734 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 57.3+ KB

In [32]:
data.isnull().sum()

eventstartdate     0
eventenddate       0
sigungucode        7
mapx              32
mapy              32
tel                9
addr1              1
readcount          3
modifiedtime       0
dtype: int64

In [50]:
# 결측값 인덱스 색출 - reset_index 후 색출
# data = data.reset_index()
rows_with_nan = [index for index, row in data[['readcount']].iterrows() if row.isnull().any()]
rows_with_nan

[731, 732, 733]

In [47]:
#sigungucode [526, 600, 640, 642, 668, 700, 711]
#mapx/y 39,54 ~ 711
#tel [246, 317, 466, 497, 555, 604, 646, 674, 730]
#addr1 526
#readcount [731, 732, 733]

In [66]:
# fill nan
data['readcount'] = data['readcount'].fillna(0).round(0)
data['readcount'] = data['readcount'].astype('int')

In [89]:
print(data.iloc[526])
#'index 526 in online'
# fill in addr1 = online
# fill mapx mapy = 0,0
data['addr1'] = data['addr1'].fillna('online')
data['mapx'][526] = 0
data['mapy'][526] = 0
data['sigungucode'][526] = 0

level_0                               526
index                                 526
title             궁궐활용 온라인 프로젝트 '궁온' 2020
eventstartdate                   20201123
eventenddate                     20201231
sigungucode                           0.0
mapx                                    0
mapy                                    0
tel                        02-3210-4806~7
addr1                              online
readcount                               0
modifiedtime               20210517163126
Name: 526, dtype: object

<ipython-input-89-7048a3f88df4>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mapx'][526] = 0
<ipython-input-89-7048a3f88df4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mapy'][526] = 0
<ipython-input-89-7048a3f88df4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sigungucode'][526] = 0

In [90]:
print(data.iloc[526])

level_0                               526
index                                 526
title             궁궐활용 온라인 프로젝트 '궁온' 2020
eventstartdate                   20201123
eventenddate                     20201231
sigungucode                           0.0
mapx                                    0
mapy                                    0
tel                        02-3210-4806~7
addr1                              online
readcount                               0
modifiedtime               20210517163126
Name: 526, dtype: object

In [106]:
def findxy(x):
    if data['addr1'] == True and data['mapx'] == np.nan and data['mapy'] == np.nan:
        url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(data['addr1'])
        headers = {"Authorization": "KakaoAK ac29d0b5ff83ba31f85e0d6f9f38e797"}
        p_s_places = requests.get(url, headers = headers).json()['documents']
        x = float(p_s_places[0]['y'])
        y = float(p_s_places[0]['x'])
        return data['mapx'].append(x) , data['mapy'].append(y)

In [110]:
sample = data.apply(findxy, axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [24]:
cols = ['주소','지역코드','대분류','중분류','소분류','콘텐츠ID','콘텐츠타입ID','등록일','행사종료일','행사시작일','대표이미지',
       '썸네일','X좌표','Y좌표','지도레벨','수정일','조회수','시군구코드','전화번호','제목']
raw_data = pd.DataFrame(columns=cols)
idx = 1
for i in range(0,len(dd)):
    addr1 = dd[i]['addr1']
    areacode = dd[i]['areacode']
    cat1= dd[i]['cat1']
    cat2 = dd[i]['cat2']
    cat3 = dd[i]['cat3']
    contentid = dd[i]['contentid']
    contenttypeid = dd[i]['contenttypeid']
    createdtime = dd[i]['createdtime']
    eventenddate = dd[i]['eventenddate']
    eventstartdate = dd[i]['eventstartdate']
    firstimage = dd[i]['firstimage']
    firstimage2 = dd[i]['firstimage2']
    mapx = dd[i]['mapx']
    mapy = dd[i]['mapy']
    mlevel = dd[i]['mlevel']
    modifiedtime = dd[i]['modifiedtime']
    readcount = dd[i]['readcount']
    sigungucode = dd[i]['sigungucode']
    tel = dd[i]['tel']
    title = dd[i]['title']

    raw_data.loc[idx] = [addr1,areacode,cat1,cat2,cat3,contentid,contenttypeid,createdtime,eventenddate,eventstartdate,
                         firstimage,firstimage2,mapx,mapy,mlevel,modifiedtime,readcount,sigungucode,
                         tel,title]
    idx += 1

KeyError: 'mapx'