## 빅데이터 기반 AI 응용 솔루션 개발자 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 21.07.09
- 성명 : 김광훈
- 점수 : 97

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 5, 6, 7를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [4]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if number < 9 :
        print(number, end = " ")

5 6 7

    정답 5점 + 5

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [12, 14, 16, 18, 20], [6]를 출력하세요.(내장함수 2개 사용 필수)

In [39]:
# 함수를 선언합니다.
def power(item):
    return item + item
def under_7(item):
    return item < 7

# 변수를 선언합니다.
list_input_a = [ 6,  7,  8,  9, 10]

result1 = map(power,list_input_a)
print(list(result1))

result2 = filter(under_7, list_input_a)
print(list(result2))

[12, 14, 16, 18, 20]
[6]

    정답 5점 +5

#### 3. 정수를 입력하면 3의 배수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '3의 배수', '3의 배수가 아님'으로 출력). 단 정수를 입력하지 않으면 '정수를 입력해 주세요'라고 출력

In [2]:
try:
    input_int = int(input("정수를 입력하세요 : "))
    if input_int % 3 == 0 :
        print('3의 배수')
    else:
        print('3의 배수가 아닙')
except ValueError:
    print('정수를 입력하세요')

정수를 입력하세요 : 5
3의 배수가 아닙

    정답 5점 +5

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 더한 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [36]:
A= lambda a,b : (a ** b) + (a * b)
print(A(2,5))
print(A(5,2))

42
35

    정답 5점 +5

#### 5. 10자리 정수를 입력한 후  콤마로 천단위를 구분하여 출력하세요.

In [44]:
input_number = input('10자리 정수를 입력하세요 : ')

if input_number.isdigit():
    input_number = input_number[::-1]
    result = ''
    for i, x in enumerate(input_number):
        i += 1
        if i != len(input_number) and i % 3 == 0 :
            result += (x + ',')
        else:
            result += x
    result = result[::-1]
    print(result)
else:
    print("정수가 아닙니다")

10자리 정수를 입력하세요 : a
정수가 아닙니다

    정답 5점 +5

#### 6. car_lists = ["마티즈", "그랜저", "제네시스"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
1번 차는 마티즈입니다.\
2번 차는 그랜저입니다.\
3번 차는 제네시스입니다.

In [46]:
car_lists = ["마티즈", "그랜저", "제네시스"]
for i,j in enumerate(car_lists):
    print('%d번 차는 %s입니다.' %(i+1,j))

1번 차는 마티즈입니다.
2번 차는 그랜저입니다.
3번 차는 제네시스입니다.

    정답 5점 +5

#### 7. 100을 37로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [47]:
n1,n2 = 100,37
divmod(n1,n2)

(2, 26)

    정답 5점 +5

#### 8. list_number = list(np.arange(21,26))로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 1 ~ 5 정수 입력 \
1~5 정수 입력> 5 \
5번째 요소: 25 \
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 6 입력시 \
정수 입력> 6 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [7]:
import numpy as np
list_number = list(np.arange(21,26))

try:
    input_num = int(input("정수 입력 "))
    print("정수 입력 > %d" %(input_num))
    print("%d번째 요소 : %d" %(input_num,list_number[input_num-1]))
except ValueError as exception:
    print("정수를 입력해주세요!")
except IndexError as exception:
    print('리스트의 인덱스를 벗어났어요!')
finally:
    print("예외 처리 완료")

정수 입력 6
정수 입력 > 6
리스트의 인덱스를 벗어났어요!
예외 처리 완료

    정답 5점 +5

#### 9. 사용자로부터 서로 다른 실수 두 개를 입력받고 첫 번째 와 두 번째중 큰 실수를 구하는 프로그램을 수행하세요.

In [63]:
n1 = float(input(" 첫번째 실수를 입력하세요 : "))
n2 = float(input(" 두번째 실수를 입력하세요 : "))

if n1 > n2 :
    print(n1)
else:
    print(n2)

 첫번째 실수를 입력하세요 : 3.5
 두번째 실수를 입력하세요 : 1.5
3.5

    정답 5점 +5

#### 10. 1부터 1000까지 아래와 같은 방식으로 2개의 수를  곱했을 때 가장 큰 수를 구하세요.

 (1 * 999),(2 * 998) ...(999 * 1)

In [64]:
max_V = 0

for i in range(1,1000):
    j = 1000 - i
    result = i * j
    if max_V < result:
        max_V = result
print(max_V)

250000

    정답 5점 +5

#### 11. 정규표현식을 사용하여 text에서 지역코드를 제외한 넘버만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [161]:
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

import re
p = re.compile('(\d{3})-(\d{4})')
Answer = p.search(text)
print(Answer.group())

232-3245

    정답 5점 +5

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'bcdefgh'와 cdefg'를 출력하세요

In [75]:
text = 'abcdefghij'
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
M = p.match(text)
print(M.group(2))
print(M.group(3))

bcdefgh
cdefg

    정답 5점 +5

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 알파벳 문자만을 리스트로 출력하세요

In [85]:
t = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
t[-3:]

['a', 'b', 'c']

    정답 5점 +5

#### 14. 500 ~ 1000사이의 정수 중 5의 배수이거나  7의 배수인 수의 합을 구하세요

In [86]:
cal_sum = 0
for i in range(500,1001):
    if i % 5 == 0:
        cal_sum += i
    elif i % 7 == 0 :
        cal_sum += i 
    elif (i % 5 == 0 ) & (i % 7 == 0 ):
        cal_sum += i
    i += 1 
print(cal_sum())

118394

In [284]:
cal_sum = 0
for i in range(500,1001):
    if i % 5 == 0 or i % 7 == 0:
        cal_sum += i
    i += 1 
print(cal_sum)

118394

    정답 5점 +5

#### 15. [    ]을 채워서 아래와 같이 출력하세요.
[[3, 6, 9], [1, 4, 7], [2, 5, 8]]

In [1]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[ (number+2)%3    ].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

    정답 5점 +5

####  16. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [302]:
def find_fac(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    return fact

print(find_fac(5))
print(find_fac(10))

120
3628800

    정답 5점 +5

#### 17. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요(내장함수 및 정규표현식 사용)

In [182]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
def clear_text(text):
    return text.strip(' !#?').title()

list(map(lambda x: clear_text(x),states))
# [출력]
# ['Alabama',
#  'Georgia',
#  'Georgia',
#  'Georgia',
#  'Florida',
#  'South   Carolina',
#  'West Virginia']

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

    부분정답 +3

####  18.게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램을 작성하세요. 단, 잘못 입력시 예외 처리 필수

In [18]:
def Page(a,b):
    if a % b == 0:
        pages = a // b
    elif a % b != 0:
        pages = (a // b) + 1
    return pages

        
try:
    a = int(input("게시물의 총 건수? > "))
    b = int(input("한 페이지에 보여줄 게시물 수? > "))
    Page(a,b)
    print('총 페이지수 {}'.format(Page(a,b)))
except ValueError as  exception:
    print("정수를 입력하세요")

게시물의 총 건수? > 100
한 페이지에 보여줄 게시물 수? > 3
총 페이지수 34

    정답 5점 +5

#### 19. 발표할 인원을 입력하면 랜덤으로 발표자를 리스트로 출력해주는 프로그램을 작성 후 다음을 수행하세요.(중복 허용하지 않음)
- 발표자 1명
- 발표자 5명
- 발표자 28명 전원
* Python random을 써야함.

In [20]:
name = ['고영남', '김광훈', '김동일', '김진', '박기범', '박민아', '박시우', 
        '배송이', '송유빈', '신인철','오수문','우동주','이민찬','이범준',
        '이슬','이원진','이종현','임희진','정하림','조경림','조현정',
        '진유훈','채승혜','최윤진','최한결','최혜정','하도원','안아름']

In [21]:
import numpy as np
np.random.choice(name,1)

#numpy.random => array로 변환.

array(['송유빈'], dtype='<U3')

In [22]:
import random
P_1 = random.sample(name,1)
P_1

P_5 = random.sample(name,5)
P_5

P_28 = random.sample(name,28)
P_28

def Random_presenter():
    num = int(input("발표자 수를 입력하세요 > "))
    global name
    presenters = random.sample(name,num)
    print(presenters)
    

Random_presenter()

발표자 수를 입력하세요 > 28
['이슬', '조현정', '배송이', '고영남', '이민찬', '하도원', '최혜정', '조경림', '안아름', '우동주', '김광훈', '송유빈', '김진', '정하림', '오수문', '진유훈', '채승혜', '이범준', '박시우', '최윤진', '박민아', '김동일', '최한결', '이종현', '이원진', '신인철', '임희진', '박기범']

    정답 5점 +5

#### 20. 네이버 통합검색 사이트에서 빅데이터를 입력한 후 관련 뉴스의 타이틀만 t선택하여 아래 포멧으로 출력하세요.

In [ ]:
1.'4년만에'…6개 보험사, 공공의료데이터 받는다(종합)
2.부산시 금융 빅데이터 센터 구축 공모사업 선정
3."중 의료 빅데이터업체 미 상장 보류…당국 규제강화 후 첫사례"
4.소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다
5.KISA, 사이버보안 8억건 'AI 데이터셋' 구축 추진
6.농식품 공공데이터 개방…가격·요리정보 활용 높아
7.과학화훈련단 빅데이터 활용한 프로그램 만든다
8.세종대, 하계방학 빅데이터 분석실무2급 프로그램 운영
9.한국농수산식품유통공사, 범정부 빅데이터 플랫폼 연계 상담회 개최
10.KISA, '사이버보안' AI 데이터셋 구축 착수

In [25]:
import urllib.request as req
from bs4 import BeautifulSoup as b_s

In [29]:
url = 'https://search.naver.com/search.naver?where=news&query=%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0&sm=tab_opt&sort=0&photo=0&field=0&pd=0&ds=&de=&docid=&related=0&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so%3Ar%2Cp%3Aall&is_sug_officeid=0'
response = req.urlopen(url)
soup = b_s(response,'html.parser')
texts = soup.select('.group_news> ul > li > div > div> a')
for i in range(len(texts)):
    print(i+1,'.',texts[i].text)

1 . '교육빅데이터위원회' 출범…교육데이터 개방·활용 논의
2 . "진짜 돈되는 보고서 따로 있다"…'빅데이터 투자' 특허 출원
3 . "중 의료 빅데이터업체 미 상장 보류…당국 규제강화 후 첫사례"
4 . 부산시 ‘금융 빅데이터 센터’ 구축…디지털혁신 가속화
5 . 삼성생명 등 6개 보험사, '공공의료 데이터 활용' 길 열렸다
6 . ’Nowcast 포털‘로 빅데이터 기반 경제·사회 속보성 지표 서비스
7 . 리서치알음, '빅데이터 투자 시스템' 특허 출원
8 . 한전의 '전력 빅데이터'와 하나은행의 '금융 인센티브' 결합
9 . 대학교 브랜드평판 6월 빅데이터 분석 1위는 서울대
10 . 소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다

    정답 5점 +5

In [35]:
import numpy as np

list_number=list(np.arange(21,26))

try:
    a= int(input('정수 입력>'))
    print('{}번째 요소:{}'.format(list_number.index(a)+1,a))
except ValueError as exception:
    print('정수를 입력해주세요')
except IndexError as exception:
    print('리스트의 인덱스를 벗어났어요!')
finally:
    print('예외처리 완료')

정수 입력>4
정수를 입력해주세요
예외처리 완료

In [37]:
list_number=list(np.arange(21,26))

In [41]:
list_number.index(2)

ValueError: 2 is not in list

In [42]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

print(x)

3