In [2]:
df.to_csv(f'C:/Users/박기범/Downloads/서울시인구.csv',index=0)
df = pd.read_csv(f'C:/Users/박기범/Downloads/서울시인구.csv')
df

NameError: name 'df' is not defined

In [29]:
import pandas as pd

df = pd.read_csv('C:/Users/박기범/Downloads/서울시인구.csv')
df = df.drop(columns=['기간','세대','인구.1','인구.2','인구.3','인구.4','인구.5',
                      '인구.6','인구.7','인구.8','세대당인구','65세이상고령자'], axis=1)
df = df.drop(index=[1], axis=0)
df

KeyError: "['기간' '세대' '인구.1' '인구.2' '인구.3' '인구.4' '인구.5' '인구.6' '인구.7' '인구.8' '세대당인구'\n '65세이상고령자'] not found in axis"

In [ ]:
# code
df = pd.read_csv('C:/Users/박기범/Downloads/[넣을csv값].csv')
df = df.drop(columns=['2020.1','2020.2','2020.3','2020.4','2020.5','2020.6','2020.7','2020.8','2020.9'])
df.rename(columns={'[바꿀컬럼값]':'동','[바꿀컬럼값]':'인구'},inplace=True)
#df.to_csv('C:/Users/박기범/Downloads/[넣은csv저장].csv',index=None)
df = df.drop(index=[1], axis=0) #행날리기 날릴index값 설정
df

In [93]:
# 서울
import pandas as pd

df = pd.read_csv('Dataset/hm/서울시인구.csv')
df.to_csv('C:/Users/박기범/Downloads/서울시인구.csv',index=None)
df

     행정구역     동         인구
0    행정구역     동         합계
1     서울시    합계  9,828,094
2     종로구    소계    156,567
3     종로구   사직동      9,813
4     종로구   삼청동      2,803
..    ...   ...        ...
447   강동구  둔촌1동        146
448   강동구  둔촌2동     25,309
449   강동구  암사1동     35,245
450   강동구  천호2동     34,526
451   강동구    길동     46,481

[452 rows x 3 columns]

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('Dataset/hm/서울시인구.csv')
df[df['동']=='종로1.2.3.4가동']

   행정구역            동     인구
10  종로구  종로1.2.3.4가동  8,449

In [16]:
df['동'].unique()

array(['동', '합계', '소계', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동',
       '종로1.2.3.4가동', '종로5·6가동', '이화동', '창신1동', '창신2동', '창신3동', '숭인1동',
       '숭인2동', '청운효자동', '혜화동', '소공동', '회현동', '명동', '필동', '장충동', '광희동',
       '을지로동', '신당5동', '황학동', '중림동', '신당동', '다산동', '약수동', '청구동', '동화동',
       '후암동', '용산2가동', '남영동', '원효로2동', '효창동', '용문동', '이촌1동', '이촌2동',
       '이태원1동', '이태원2동', '서빙고동', '보광동', '청파동', '원효로1동', '한강로동', '한남동',
       '왕십리2동', '마장동', '사근동', '행당1동', '행당2동', '응봉동', '금호1가동', '금호4가동',
       '성수1가1동', '성수1가2동', '성수2가1동', '성수2가3동', '송정동', '용답동', '왕십리도선동',
       '금호2.3가동', '옥수동', '화양동', '군자동', '중곡1동', '중곡2동', '중곡3동', '중곡4동',
       '능동', '구의1동', '구의2동', '구의3동', '광장동', '자양1동', '자양2동', '자양3동',
       '자양4동', '회기동', '휘경1동', '휘경2동', '청량리동', '용신동', '제기동', '전농1동',
       '전농2동', '답십리2동', '장안1동', '장안2동', '이문1동', '이문2동', '답십리1동', '면목2동',
       '면목4동', '면목5동', '면목7동', '상봉1동', '상봉2동', '중화1동', '중화2동', '묵1동',
       '묵2동', '망우3동', '신내1동', '신내2동', '면목본동', '면목3.8동', '망우본동', '돈암1동',
       '돈암2동', '안암동', '보문동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '길음1동',
       '길음2동', '월곡1동', '월곡2동', '장위1동', '장위2동', '장위3동', '성북동', '삼선동',
       '동선동', '종암동', '석관동', '번1동', '번2동', '번3동', '수유1동', '수유2동', '수유3동',
       '삼양동', '미아동', '송중동', '송천동', '삼각산동', '우이동', '인수동', '쌍문1동', '쌍문2동',
       '쌍문3동', '쌍문4동', '방학1동', '방학2동', '방학3동', '창1동', '창2동', '창3동', '창4동',
       '창5동', '도봉1동', '도봉2동', '월계1동', '월계2동', '월계3동', '공릉2동', '하계1동',
       '하계2동', '중계본동', '중계1동', '중계4동', '상계1동', '상계2동', '상계5동', '상계8동',
       '상계9동', '상계10동', '상계3.4동', '상계6.7동', '중계2.3동', '공릉1동', '녹번동',
       '불광1동', '갈현1동', '갈현2동', '구산동', '대조동', '응암1동', '응암2동', '신사1동',
       '신사2동', '증산동', '수색동', '진관동', '불광2동', '응암3동', '역촌동', '천연동', '홍제1동',
       '홍제3동', '홍제2동', '홍은1동', '홍은2동', '남가좌1동', '남가좌2동', '북가좌1동', '북가좌2동',
       '충현동', '북아현동', '신촌동', '연희동', '용강동', '대흥동', '염리동', '신수동', '서교동',
       '합정동', '망원1동', '망원2동', '연남동', '성산1동', '성산2동', '상암동', '도화동', '서강동',
       '공덕동', '아현동', '목1동', '목2동', '목3동', '목4동', '신월1동', '신월2동', '신월3동',
       '신월4동', '신월5동', '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정6동',
       '신정7동', '목5동', '신정4동', '염창동', '등촌1동', '등촌2동', '등촌3동', '화곡본동',
       '화곡2동', '화곡3동', '화곡4동', '화곡6동', '화곡8동', '가양1동', '가양2동', '가양3동',
       '발산1동', '공항동', '방화1동', '방화2동', '방화3동', '화곡1동', '우장산동', '신도림동',
       '구로1동', '구로3동', '구로4동', '구로5동', '고척1동', '고척2동', '개봉2동', '개봉3동',
       '오류1동', '수궁동', '가리봉동', '구로2동', '개봉1동', '오류2동', '항동', '가산동', '독산1동',
       '독산2동', '독산3동', '독산4동', '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동',
       '여의동', '당산1동', '당산2동', '양평1동', '양평2동', '신길1동', '신길3동', '신길4동',
       '신길5동', '신길6동', '신길7동', '대림1동', '대림2동', '대림3동', '영등포본동', '영등포동',
       '도림동', '문래동', '노량진2동', '상도1동', '상도2동', '상도3동', '상도4동', '사당1동',
       '사당3동', '사당4동', '사당5동', '대방동', '신대방1동', '신대방2동', '흑석동', '노량진1동',
       '사당2동', '보라매동', '청림동', '행운동', '낙성대동', '중앙동', '인헌동', '남현동', '서원동',
       '신원동', '서림동', '신사동', '신림동', '난향동', '조원동', '대학동', '은천동', '성현동',
       '청룡동', '난곡동', '삼성동', '미성동', '서초1동', '서초2동', '서초3동', '서초4동', '잠원동',
       '반포본동', '반포1동', '반포2동', '반포3동', '반포4동', '방배본동', '방배1동', '방배2동',
       '방배3동', '방배4동', '양재1동', '양재2동', '내곡동', '논현1동', '논현2동', '삼성1동',
       '삼성2동', '대치1동', '대치4동', '역삼1동', '역삼2동', '도곡1동', '도곡2동', '개포1동',
       '개포4동', '일원본동', '일원1동', '일원2동', '수서동', '세곡동', '압구정동', '청담동',
       '대치2동', '개포2동', '풍납1동', '풍납2동', '거여1동', '거여2동', '마천1동', '마천2동',
       '방이1동', '방이2동', '오륜동', '오금동', '송파1동', '송파2동', '석촌동', '삼전동', '가락본동',
       '가락1동', '가락2동', '문정1동', '문정2동', '잠실본동', '잠실4동', '잠실6동', '잠실7동',
       '잠실2동', '잠실3동', '장지동', '위례동', '강일동', '상일동', '명일1동', '명일2동', '고덕1동',
       '고덕2동', '암사2동', '암사3동', '천호1동', '천호3동', '성내1동', '성내2동', '성내3동',
       '둔촌1동', '둔촌2동', '암사1동', '천호2동', '길동'], dtype=object)

In [102]:
# 전라북도 정읍
df1 = pd.read_csv('C:/Users/박기범/Downloads/전라북도정읍인구.csv', encoding='cp949')
df1 = df1.drop(columns=['2020.1','2020.2','2020.3','2020.4','2020.5','2020.6','2020.7','2020.8','2020.9'])
df1.rename(columns={'읍면동별(1)':'동','2020':'인구'},inplace=True)
df1.to_csv('C:/Users/박기범/Downloads/전라북도정읍인구.csv',index=None)
df1

       동       인구
0      동       합계
1      동  총인구 (명)
2    정읍시   111239
3   신태인읍     5664
4     북면     4533
5    입암면     2883
6    소성면     2160
7    고부면     2888
8    영원면     1838
9    덕천면     1877
10   이평면     2139
11   정우면     2622
12   태인면     3577
13   감곡면     2874
14   옹동면     1736
15   칠보면     2380
16   산내면     1231
17   산외면     2152
18   수성동    18063
19   장명동     3057
20  내장상동    20778
21   시기동     3471
22   초산동    11030
23   연지동     6130
24   농소동     4189
25   상교동     3967

In [106]:
# 전라남도 신안
df2 = pd.read_csv('C:/Users/박기범/Downloads/전라남도신안인구.csv', encoding='cp949')
df2 = df2.drop(columns=['2019','2019.2','2019.3','2019.4','2019.5','2019.6','2019.7','2019.8','2019.9','2019.10'],axis=1)
df2 = df2.drop(index=[1], axis=0)
df2.rename(columns={'행정구역(읍면동)별(1)':'행정구역',
                    '행정구역(읍면동)별(2)':'동','2019.1':'인구'},inplace=True)
df2.to_csv('C:/Users/박기범/Downloads/전라남도신안인구.csv',index=None)
df2

             행정구역              동        인구
0   행정구역(읍면동)별(1)  행정구역(읍면동)별(2)  등록인구 (명)
2             신안군             소계     41102
3             신안군            지도읍      4798
4             신안군            압해읍      6533
5             신안군            증도면      1948
6             신안군            임자면      3290
7             신안군            자은면      2331
8             신안군            비금면      3638
9             신안군            도초면      2908
10            신안군            흑산면      4194
11            신안군            하의면      1850
12            신안군            신의면      1630
13            신안군            장산면      1634
14            신안군            안좌면      3163
15            신안군            팔금면      1055
16            신안군            암태면      2130

In [107]:
# 전라북도 무주
df3 = pd.read_csv('C:/Users/박기범/Downloads/전라북도무주인구.csv', encoding='cp949')
df3 = df3.drop(columns=['2020.1','2020.2','2020.3','2020.4','2020.5','2020.6','2020.7','2020.8','2020.9'],axis=1)
df3 = df3.drop(index=[0], axis=0)
df3.rename(columns={'읍면별(1)':'동','2020':'인구'},inplace=True)
df3.to_csv('C:/Users/박기범/Downloads/전라북도무주인구.csv',index=None)
df3

        동       인구
1  읍면별(1)  총인구 (명)
2     무주군    24252
3     무주읍     9551
4     무풍면     2280
5     설천면     4085
6     적상면     2632
7     안성면     4285
8     부남면     1419

In [108]:
# 전라북도 고창
df4 = pd.read_csv('C:/Users/박기범/Downloads/전라북도고창인구.csv', encoding='cp949')
df4 = df4.drop(columns=['2020.1','2020.2','2020.3','2020.4','2020.5','2020.6','2020.7','2020.8','2020.9'],axis=1)
df4 = df4.drop(index=[0], axis=0)
df4.rename(columns={'읍면별(1)':'동','2020':'인구'},inplace=True)
df4.to_csv('C:/Users/박기범/Downloads/전라북도고창인구.csv',index=None)
df4

         동       인구
1   읍면별(1)  총인구 (명)
2      고창군    55424
3      고창읍    21643
4      고수면     2308
5      아산면     2717
6      무장면     2879
7      공음면     2564
8      상하면     2467
9      해리면     2881
10     성송면     1853
11     대산면     3412
12     심원면     2577
13     흥덕면     3155
14     성내면     1994
15     신림면     2290
16     부안면     2684

In [109]:
# 강원도
df5 = pd.read_csv('C:/Users/박기범/Downloads/강원도인구.csv', encoding='cp949')
df5 = df5.drop(columns=['2018','2018.2','2018.3','2018.4','2018.5','2018.6','2018.7','2018.8','2018.9','2018.10'],axis=1)
df5 = df5.drop(index=[1], axis=0)
df5.rename(columns={'읍면동별(1)':'행정구역',
                    '읍면동별(2)':'동','2018.1':'인구'},inplace=True)
df5.to_csv('C:/Users/박기범/Downloads/강원도인구.csv',index=None)
df5

        행정구역        동        인구
0    읍면동별(1)  읍면동별(2)  등록인구 (명)
2         전체       소계   1561313
3        춘천시       소계    285002
4        춘천시      신북읍      8080
5        춘천시       동면     20120
..       ...      ...       ...
204      양양군       서면      3017
205      양양군      손양면      2485
206      양양군      현북면      2648
207      양양군      현남면      3135
208      양양군      강현면      4423

[208 rows x 3 columns]

In [110]:
# 경기도 가평
df6 = pd.read_csv('C:/Users/박기범/Downloads/경기도가평군인구.csv')
df6 = df6.drop(columns=['2019.1','2019.2','2019.3','2019.4','2019.5','2019.6','2019.7','2019.8','2019.9'],axis=1)
df6 = df6.drop(index=[1,2], axis=0)
df6.rename(columns={'읍면동별(1)':'행정구역',
                    '읍면동별(2)':'동','2019':'인구'},inplace=True)
df6.to_csv('C:/Users/박기범/Downloads/경기도가평군인구.csv',index=None)
df6

      행정구역        동      인구
0  읍면동별(1)  읍면동별(2)     총인구
3      가평군       소계  63,462
4      가평군      가평읍  19,842
5      가평군      설악면   9,885
6      가평군      청평면  14,335
7      가평군       상면   5,578
8      가평군      조종면   9,802
9      가평군       북면   4,020

In [111]:
# 부산서구
df7 = pd.read_csv('C:/Users/박기범/Downloads/부산광역시서구인구.csv', encoding='cp949')
df7 = df7.drop(columns=['2018','2018.2','2018.3','2018.4','2018.5','2018.6','2018.7','2018.8','2018.9','2018.10'],axis=1)
df7 = df7.drop(index=[1,2], axis=0)
df7.rename(columns={'행정구역별(1)':'동','2018.1':'인구'},inplace=True)
df7.to_csv('C:/Users/박기범/Downloads/부산광역시서구인구.csv',index=None)
df7

           동      인구
0   행정구역별(1)    등록인구
3         합계  112621
4      동대신1동    4769
5      동대신2동    8225
6      동대신3동    6956
7      서대신1동   12051
8      서대신3동    8991
9      서대신4동    8250
10       부민동    8337
11       아미동    8071
12       초장동    5109
13       충무동   10435
14     남부민1동    5412
15     남부민2동   10544
16       암남동   15471

In [115]:
# 광주광역시
df8 = pd.read_csv('C:/Users/박기범/Downloads/광주광역시인구.csv', encoding='cp949')
df8 = df8.drop(columns=['2019','2019.2','2019.3','2019.4','2019.5','2019.6','2019.7','2019.8','2019.9','2019.10'],axis=1)
df8 = df8.drop(index=[0], axis=0)
df8.rename(columns={'행정구역(읍면동)별(1)':'행정구역',
                    '행정구역(읍면동)별(2)':'동','2019.1':'인구'},inplace=True)
df8.to_csv('C:/Users/박기범/Downloads/광주광역시인구.csv',index=None)
df8

              행정구역              동       인구
1    행정구역(읍면동)별(1)  행정구역(읍면동)별(2)  인구수 (명)
2               합계             소계  1480293
3               동구             소계   100504
4               동구            충장동     4502
5               동구            동명동     4066
..             ...            ...      ...
98             광산구            임곡동     2239
99             광산구            동곡동     2063
100            광산구             평동     5412
101            광산구            삼도동     2354
102            광산구            본량동     2117

[102 rows x 3 columns]

In [116]:
# 충청남도 아산
df9 = pd.read_csv('C:/Users/박기범/Downloads/충남아산시인구.csv', encoding='cp949')
df9 = df9.drop(columns=['2019','2019.2','2019.3','2019.4','2019.5','2019.6','2019.7','2019.8','2019.9','2019.10',
                        '2019.11','2019.12','2019.13','2019.14'],axis=1)
df9 = df9.drop(index=[1], axis=0)
df9.rename(columns={'읍면동별(1)':'동','2019.1':'인구'},inplace=True)
df9.to_csv('C:/Users/박기범/Downloads/충남아산시인구.csv',index=None)
df9

          동      인구
0   읍면동별(1)  인구 (명)
2   읍면동별(1)      소계
3        합계  333074
4       염치읍    6980
5       배방읍   74906
6       송악면    4355
7       탕정면   21879
8       음봉면   20996
9       둔포면   25135
10      영인면    6397
11      인주면    7478
12      선장면    3664
13      도고면    4630
14      신창면   25247
15     온양1동   10085
16     온양2동    7869
17     온양3동   37848
18     온양4동   19078
19     온양5동   26973
20     온양6동   29554

In [117]:
# 충청북도 진천
df10 = pd.read_csv('C:/Users/박기범/Downloads/충청북도진천군인구.csv', encoding='cp949')
df10 = df10.drop(columns=['2018','2018.2','2018.3','2018.4','2018.5','2018.6','2018.7','2018.8','2018.9','2018.10',
                         '2018.11','2018.12','2018.13',],axis=1)
df10 = df10.drop(index=[1], axis=0)
df10.rename(columns={'읍면별(1)':'동','2018.1':'인구'},inplace=True)
df10.to_csv('C:/Users/박기범/Downloads/충청북도진천군인구.csv',index=None)
df10

         동        인구
0   읍면별(1)  등록인구 (명)
2   읍면별(1)        소계
3       합계     84265
4      진천읍     31917
5      덕산면     22439
6      초평면      3508
7      문백면      4147
8      백곡면      2167
9      이월면      8078
10    광혜원면     12009