## 빅데이터 기반 AI 응용 솔루션 개발자 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 21.07.02
- 성명 : 김광훈
- 점수 :

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25] 
15.20,25 -> 5의배수/ 5제외.

In [10]:
#Answer 1
numbers = [5,15,6,20,7,25]
for i in numbers:
    if i % 5 == 0 and i >= 15: print(i)

15
20
25

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [15]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [150]:
#Answer 2
list_input_a = [1,2,3,4,5]
answer2_1 = list(map(lambda i : i * i,list_input_a))
print(b)
answer2_2 = list(filter(lambda x : x < 3, list_input_a)) #조건을 만족하는 것을 필터해주는 함수
print(c)

[1, 4, 9, 16, 25]
[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [24]:
def find_odd():
    input_int = int(input("정수를 입력하세요 : "))
    if input_int % 2 != 0:
        print('홀수')
    else:
        print('짝수')

find_odd()

정수를 입력하세요 : 2
짝수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [147]:
fuc = lambda a,b : (a**b) - (a*b)
print(fuc(2,5))
print(fuc(5,2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [246]:
num = int(input("입력"))
print('{:,}'.format(num))

입력123456789
123,456,789

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [277]:
example_list = ['요소A','요소B','요소C']
for i , j in enumerate(example_list):
    print('{}번째 요소는 {}입니다.'.format(i,j))

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

###### X

In [306]:
a = 97 // 40
b = 97 % 40
answer = (a,b)
print(type(answer))
print(answer)

#divmod(97,40)

<class 'tuple'>
(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [268]:
list_number = [52,273,32,72,100]

try:
    put = int(input("정수 입력"))
    print('정수입력 > {}'.format(put))
    print('{}번째 요소 : {} 예외 처리 완료.'.format(put,list_number[put]))
except ValueError as exception:
    print('정수를 입력해 주세요! 예외 처리 완료')
except IndexError as exception:
    print('리스트의 인덱스를 벗어났어요! 예외 처리 완료')

정수 입력가
정수를 입력해 주세요! 예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [307]:
def difference():
    a = int(input("입력하세요:"))
    b = int(input("입력하세요:"))
    if a > b:
        print("첫번째 입력한 수가 더 큽니다.")
    else:
        print("두번째 입력한 수가 더 큽니다")
        
difference()

입력하세요:1
입력하세요:3
두번째 입력한 수가 더 큽니다

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

###### X

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [308]:
import re
text = '문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다.'
p = re.compile(r'\b[0-9]+\b')
print(p.search(text))

<re.Match object; span=(10, 13), match='032'>

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

###### X

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [61]:
q13 = [0,1,2,3,4,5,6,7,8,9,'a','b','c']
del q13[9:11]
q13

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [90]:
n = 500
sum = 0
while 500 <= n < 1001:
    if n % 5 == 0 and n % 7 == 0 :
        sum = sum + n
    n = n + 1
print(sum)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.
[[1,4,7],[2,5,8],[3,6,9]]

In [1]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number%3) -1].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [143]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
del_duplicate_numbers = list(set(numbers))
del_duplicate_numbers
for i in del_duplicate_numbers:
    print("%d값은 %d개 있습니다."%(i,numbers.count(i)))

2값은 2개 있습니다.
3값은 4개 있습니다.
4값은 2개 있습니다.
5값은 2개 있습니다.
6값은 2개 있습니다.
7값은 2개 있습니다.
8값은 2개 있습니다.
9값은 2개 있습니다.

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [204]:
class Country:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c
    
    def desc(self):
        print('%s의 인구는 %d만명이며 수도는 %s입니다.'%(self.a,self.b,self.c))
        

class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gndp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5만명이며 수도는 서울입니다.
1인당 gndp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [138]:
class cal4:
    def __init__(self,a,b):
        self.a = a
        self.b = b
    
    def add(self):
        result_sum = self.a + self.b
        print(result_sum)
    
    def sub(self):
        result_sub = self.a - self.b
        print(result_sub)
    
    def mul(self):
        result_mul = self.a * self.b
        print(result_mul)
        
    def div(self):
        if self.b == 0:
            print("you cannot divide 0")
        else:
            result_div = self.a / self.b
            print(result_div)

In [139]:
A = cal4(10,5)
A.add()
A.sub()
A.mul()
A.div()

15
5
50
2.0

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [140]:
from datetime import datetime as dt
now = dt.now()
print(now)

now_compare = dt.strptime("20210101","%Y%m%d")
print(now_compare)

compare_date_difference = now - now_compare
print(compare_date_difference)

compare_date_difference.days

2021-07-02 10:07:46.752703
2021-01-01 00:00:00
182 days, 10:07:46.752703

182

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

###### X