#### Q1 사용자가 입력한 게임 회수만큼 로또 번호를 출력하는 프로그램을 작성하세요.

In [ ]:
price = 1000
input_price = int(input("금액을 입력해주세요."))
play_counts = int(input_price / 1000)
class Lottery:
    def __init__(self):
        self.input_price = input_price
        print("넣으신 금액은 %d 이며, 총 할수 있는 게임 횟수는 %d입니다." %(input_price,play_counts))
        #print("남은 금액은 %d입니다. 더 하시려면 %d 더 입력하세요")
        
    
    def play_lottery(self):
        import random
        global play_counts
        for i in range(0, play_counts):
            Lotto_numbers = random.sample(range(0,46),6)
            Lotto_numbers.sort()
            for n in range(0,play_counts):
                n = n+1
            print("로또 번호는 :", Lotto_numbers)
        
#Dummy
play = Lottery()
play.play_lottery()

#### Q2 남녀 파트너 정해주기 프로그램을 작성하세요

In [ ]:
# male = ['m1','m2','m3','m4','m5']
# female = ['f1','f2','f3','f4','f5']
# couple_counts = int(input("몇 커플 생성하시겠습니까 : "))
# class Couple:
#     def __init__(self):
#         self.couple_counts = couple_counts
        
#     def set_couple(self):
#         import random
#         global male
#         global female
#         man_random_samples = random.sample(male,1) + random.sample(female,1)
#         print(man_random_samples)
# #Dummy
# couple = Couple()
# couple.set_couple

#### Q3 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요

In [ ]:
Input_string = input("입력하세요 :")
def change_string():
    return print(Input_string[1:]+Input_string[0])
#Dummy
change_string()

#### Q4 url에서 호스트 도메인을 추출하여 출력하세요

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
host_clean = url.split('/')
Host_domain = host[2]
print(Host_domain)

#### Q5 url 에서 쿼리문을 추출하여 출력하세요
- url 에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
Query_url = url.split('?')[1]
Query_url_clean = Query_url.split('&')
Query_url_clean

#### Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- [_] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [ ]:
with open("mydata.txt") as mydata:
    data = mydata.read()
print(data.count(' '))
print(data.count('e'))
print(data.count('t'))

#### Q7 mydata.txt 파일에 들어있는 단어수를 계산하여 출력하세요

In [ ]:
with open("mydata.txt") as mydata:
    data = mydata.read()
print(len(data)-data.count(' '))

#### Q8. 사용자가 입력한 단어가 mydata.txt 파일에 포함된 개수를 계산하여 출력하세요.

In [ ]:
with open("mydata.txt") as mydata:
    data = mydata.read()
input_data = input("찾을 단어 입력 :")
print(data.count(input_data))

#### Q9. mydata.txt파일에서 특정 단어 t1을 다른 단어 t2로 변경하여 출력하세요

In [ ]:
with open("mydata.txt") as mydata:
    data = mydata.read()
t1 = input("t1 : ")
t2 = input("replace to :")

print(data.count(t1))
new_data = data.replace(t1,t2)
print(data.count(t1),data.count(t2))
print(new_data.count(t1),new_data.count(t2))
print(new_data)

#### Q10. 주어진 데이터에서 1880년에서 2015년까지 이름별 출생아 수를 출력하세요
#### 연도별 출생아수
filename = 'Data/names/yob%d.txt'%y

In [39]:
# filename = 'Data/names/yob%d.txt'%year
for year in range(1880,2016):
    year += 1
    
with open("../Data/names/yob%d.txt"%year) as raw_data:
    raw_data = raw_data.read()              #%y 처리

#1880~2015까지 "이름별" 출생아 수 ==> 이름 중복이 제외되고, 수는 그대로 가야함.
#set로 해버리면 이름 중복된 출생아 데이터 사라짐
#우선 set로 이용해서 중복되지 않은 이름 리스트 만들고
#중복되지 않은 이름을 for문으로 하나씩 대입해서 raw_data에 count 하면
#문자열을 리스트로 변환시 split으로 잘라줘야 단어단위로 잘림
# raw_data --> ','와 '\n' 으로 자르면 될듯
#split조건 변경해야할 듯 (무지) \n -> ,
# raw_data = raw_data.replace('\n',',')
# raw_data.split(',')
# for i in raw_data:
#     print(raw_data)

#### Q11. 주어진 데이터에서 연도별 성별 출생아 수를 계산하여 출력하세요.

In [38]:
for year in range(1880,2016):
    filename = '../Data/names/yob%d.txt'%year
    raw_data = open(filename,'r')
    print("{}년 : {}명".format(year,len(list(raw_data.readlines()))))

1880년 : 2000명
1881년 : 1935명
1882년 : 2127명
1883년 : 2084명
1884년 : 2297명
1885년 : 2294명
1886년 : 2392명
1887년 : 2373명
1888년 : 2651명
1889년 : 2590명
1890년 : 2695명
1891년 : 2660명
1892년 : 2921명
1893년 : 2831명
1894년 : 2941명
1895년 : 3049명
1896년 : 3091명
1897년 : 3028명
1898년 : 3264명
1899년 : 3042명
1900년 : 3730명
1901년 : 3153명
1902년 : 3362명
1903년 : 3389명
1904년 : 3560명
1905년 : 3655명
1906년 : 3633명
1907년 : 3948명
1908년 : 4018명
1909년 : 4227명
1910년 : 4629명
1911년 : 4867명
1912년 : 6351명
1913년 : 6968명
1914년 : 7965명
1915년 : 9357명
1916년 : 9696명
1917년 : 9913명
1918년 : 10398명
1919년 : 10369명
1920년 : 10755명
1921년 : 10857명
1922년 : 10756명
1923년 : 10643명
1924년 : 10871명
1925년 : 10638명
1926년 : 10458명
1927년 : 10406명
1928년 : 10159명
1929년 : 9822명
1930년 : 9791명
1931년 : 9298명
1932년 : 9380명
1933년 : 9012명
1934년 : 9180명
1935년 : 9038명
1936년 : 8893명
1937년 : 8946명
1938년 : 9031명
1939년 : 8918명
1940년 : 8961명
1941년 : 9086명
1942년 : 9424명
1943년 : 9408명
1944년 : 9152명
1945년 : 9025명
1946년 : 9706명
1947년 : 10371명
1948년 : 10241명
1949년 : 10270명
1950년 : 10305명
1951년 : 10463명
1952년 : 10645명
1953년 : 10837명
1954년 : 10981명
1955년 : 11122명
1956년 : 11339명
1957년 : 11568명
1958년 : 11526명
1959년 : 11768명
1960년 : 11925명
1961년 : 12180명
1962년 : 12211명
1963년 : 12285명
1964년 : 12398명
1965년 : 11953명
1966년 : 12155명
1967년 : 12400명
1968년 : 12938명
1969년 : 13751명
1970년 : 14778명
1971년 : 15297명
1972년 : 15415명
1973년 : 15683명
1974년 : 16249명
1975년 : 16946명
1976년 : 17395명
1977년 : 18180명
1978년 : 18233명
1979년 : 19039명
1980년 : 19455명
1981년 : 19481명
1982년 : 19698명
1983년 : 19408명
1984년 : 19509명
1985년 : 20086명
1986년 : 20657명
1987년 : 21409명
1988년 : 22369명
1989년 : 23775명
1990년 : 24716명
1991년 : 25114명
1992년 : 25426명
1993년 : 25965명
1994년 : 25997명
1995년 : 26079명
1996년 : 26423명
1997년 : 26971명
1998년 : 27906명
1999년 : 28554명
2000년 : 29775명
2001년 : 30276명
2002년 : 30566명
2003년 : 31190명
2004년 : 32049명
2005년 : 32551명
2006년 : 34094명
2007년 : 34962명
2008년 : 35084명
2009년 : 34715명
2010년 : 34082명
2011년 : 33915명
2012년 : 33757명
2013년 : 33296명
2014년 : 33266명
2015년 : 33138명

#### Q12. 출생년도를 입력하면 그 해 인기순 상위 10개 이름을 출력하세요

#### Q13. 음식점의 음식 주문 가격 산출 프로그램을 자유롭게 작성하세요

#### Q14. player가 3승 할 때 까지 계속 진행되는 가위바위보 게임 프로그램을 작성하세요.
-게임은 player와 컴퓨터간 진행됩니다

#### Q15. 컴퓨터가 랜덤하게 생성하는 숫자 맞추기 게임 프로그램을 작성하세요