In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tdf = pd.read_csv('train.csv')

In [3]:
df = tdf.copy()

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
test_default = df[['Age','Fare','Survived','Sex','Pclass']]

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
features = ['Sex']
for feature in features:
    test_default['Sex'] = le.fit_transform(test_default['Sex'])
test_default['Sex'] = test_default['Sex']

<ipython-input-6-b8ed1b662117>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_default['Sex'] = le.fit_transform(test_default['Sex'])
<ipython-input-6-b8ed1b662117>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_default['Sex'] = test_default['Sex']

In [7]:
test_default.head(1)

    Age  Fare  Survived  Sex  Pclass
0  22.0  7.25         0    1       3

1. Age null value : mean << 81-83

In [8]:
test_age_mean = test_default.copy()

In [9]:
test_age_mean['Age'] = test_age_mean['Age'].fillna(test_age_mean['Age'].mean())

In [10]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
y = test_age_mean['Survived']
X = test_age_mean.drop('Survived',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [11]:
# Random Forest
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)

rf_accuracy = accuracy_score(y_test, rf_pred)
print('rf 예측 정확도 :', rf_accuracy)

rf 예측 정확도 : 0.8156424581005587

2. Age null value : median <<

In [18]:
test_age_median = test_default.copy()
test_age_median['Age'] = test_age_median['Age'].fillna(test_age_median['Age'].median())

In [20]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
y = test_age_median['Survived']
X = test_age_median.drop('Survived',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [28]:
# Random Forest
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)

rf_accuracy = accuracy_score(y_test, rf_pred)
print('rf 예측 정확도 :', rf_accuracy)

rf 예측 정확도 : 0.8379888268156425

3. Age null adding : by random ()

In [12]:
test_age_add = test_default.copy()
test_age_add['Age'].isnull().sum()

grouped_by_age = test_age_add.groupby('Pclass')['Age']
grouped_by_age.mean().round(2)

first_age_g = grouped_by_age.get_group(1)
second_age_g = grouped_by_age.get_group(2)
third_age_g = grouped_by_age.get_group(3)

In [13]:
import random 
import numpy as np

test_null_age = test_age_add[test_age_add['Age'].isnull()==1]
test_null_age_grouped = test_null_age.groupby('Pclass')[['Age']]
age_first = test_null_age_grouped.get_group(1)
age_second = test_null_age_grouped.get_group(2)
age_third = test_null_age_grouped.get_group(3)

age_first['Age'] = age_first['Age'].apply(lambda x : np.random.randint(27.00,49.00))
age_second['Age'] = age_second['Age'].apply(lambda x : np.random.randint(23.00,36.00))
age_third['Age'] = age_third['Age'].apply(lambda x : np.random.randint(18.00,32.00))

<ipython-input-13-c43cda86cc00>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_first['Age'] = age_first['Age'].apply(lambda x : np.random.randint(27.00,49.00))
<ipython-input-13-c43cda86cc00>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_second['Age'] = age_second['Age'].apply(lambda x : np.random.randint(23.00,36.00))
<ipython-input-13-c43cda86cc00>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_third['Age'] = age_third['Age'].apply(lambda x : np.random.randint(18.00,32.00))

In [14]:
test_null_age_grouped = pd.concat([age_first,age_second,age_third])
test_age_add['Age'] = test_age_add['Age'].fillna(test_null_age_grouped['Age'])

In [15]:
test_age_add.isnull().sum()

Age         0
Fare        0
Survived    0
Sex         0
Pclass      0
dtype: int64

In [16]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
y = test_age_add['Survived']
X = test_age_add.drop('Survived',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [17]:
# Random Forest
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)

rf_accuracy = accuracy_score(y_test, rf_pred)
print('rf 예측 정확도 :', rf_accuracy)

rf 예측 정확도 : 0.8212290502793296