In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-dark')
%config InlineBackend.figure_format = 'retina'
pd.options.display.max_rows = 20
pd.options.display.max_columns = 20

plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams['lines.color'] = 'r'
plt.rcParams['axes.grid'] = True

데이터셋 - 화재통계

In [2]:
fire_data = pd.read_csv('Dataset/화재발생정보.csv', encoding='cp949',index_col='연번')
fdf = fire_data.copy()

fdf.info()
fdf.isnull().sum()
# 읍면동 14/ 부동산/동산 3858

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44178 entries, 1 to 44178
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사망         44178 non-null  int64
 1   부상         44178 non-null  int64
 2   인명피해(명)소계  44178 non-null  int64
 3   화재발생년월일    44178 non-null  object
 4   시도         44178 non-null  object
 5   시군구        44178 non-null  object
 6   읍면동        44164 non-null  object
 7   재산피해소계     44178 non-null  int64
 8   부동산        40320 non-null  float64
 9   동산         40320 non-null  float64
 10  장소대분류      44178 non-null  object
 11  장소중분류      44178 non-null  object
 12  장소소분류      44178 non-null  object
dtypes: float64(2), int64(4), object(7)
memory usage: 4.7+ MB

사망              0
부상              0
인명피해(명)소계       0
화재발생년월일         0
시도              0
시군구             0
읍면동            14
재산피해소계          0
부동산          3858
동산           3858
장소대분류           0
장소중분류           0
장소소분류           0
dtype: int64

결측값 처리

In [3]:
fdf = fdf.drop(['부동산','동산'],axis=1)

fdf['읍면동'].isnull().sum()
fdf_null = fdf[fdf['읍면동'].isnull()==1]
fdf_null # 모두 경기도 부천시 <<
fdf = fdf.drop(fdf_null.index)

In [4]:
fdf_seoul_location = fdf_seoul[['시군구','장소대분류','장소중분류']]

NameError: name 'fdf_seoul' is not defined

In [ ]:
fire_loc_seoul = pd.pivot_table(fdf_seoul_location,index=['시군구'],columns=['장소대분류'],aggfunc='count',fill_value=0)
fire_loc_seoul