In [1]:
import numpy as np
import pandas as pd
fish_data = np.array([2,3,3,4,4,4,4,5,5,6])
fish_data

array([2, 3, 3, 4, 4, 4, 4, 5, 5, 6])

In [3]:
np.sum(fish_data)
len(fish_data)

10

In [5]:
# 평균
# 확률변수의 개수 N
# 데이터의 총 값 (sum)
# 평균 (mu) = 데이터의 총값(sum) / 확률변수의 개수

N = len(fish_data)
sum_value = np.sum(fish_data)
mu = sum_value / N
mu

4.0

In [13]:
# 표본분산
# 데이터의 각각의 값, 여기선 numeric형 데이터 전체
# 에서 평균을 뺴고
# 뺀 값을 제곱하고
# 그것을 확률변수 총 개수로 나눔
# 그게 표본 분산

N = len(fish_data)
sum_value = np.sum(fish_data)
mu = sum_value / N
sigma_2_sample = np.sum( ((fish_data - mu) **2) / N )
print(sigma_2_sample)

np.var(fish_data,ddof=1) #불편분산 (보정 - 값이 커짐.)

1.2

1.3333333333333333

In [15]:
np.std(fish_data) # 표본 통계량 standarad deviation

1.0954451150103321

In [18]:
np.var(fish_data,ddof=0) #ddof = 0 : 표본 분산
np.std(fish_data,ddof=0)

1.0954451150103321

In [19]:
np.var(fish_data,ddof=1) #ddof = 1 : 불편 편차
np.std(fish_data,ddof=1)

1.1547005383792515

In [21]:
np.std(fish_data,ddof=1).round(2)
std2 = np.std(fish_data,ddof=1)
np.round(std2,2)

1.15

In [36]:
# a의 평균 분산 표준편차 편차의 평균을 구하세요 *분산/표준편차는 n-1, 불편분산 적용
a = np.arange(15)

#mu
N = len(a)
sum_value = np.sum(a)
mu = sum_value / N
print('mu >' ,mu)

#sigma
sigma = np.sum(((a - mu) ** 2) / N)
var = np.var(a,ddof=1)
print('sigma >',sigma)
print('var>' , var)
#표준편차
std = np.std(a,ddof=1)
print('std >',std )

#편차의 평균 -- 편차는 평균과 데이터의 거리를 의미하니까, 평균의 왼쪽의 합(-값,) , 평균의 오른쪽의 합(+값)
# 따라서 편차의 평균은 곧 0에 수렴하게 된다. 
avg = np.mean(a-mu)
print('avg >',avg)
print(a-mu)

mu > 7.0
sigma > 18.666666666666664
var> 20.0
std > 4.47213595499958
avg > 0.0
[-7. -6. -5. -4. -3. -2. -1.  0.  1.  2.  3.  4.  5.  6.  7.]

In [38]:
from scipy import stats
stats.scoreatpercentile(fish_data,75)

4.75

In [40]:
fish_data2 = np.array([2,3,3,4,4,4,4,5,5,6,100])

In [42]:
print(fish_data2)
print(fish_data2.mean())
print(np.median(fish_data2))

[  2   3   3   4   4   4   4   5   5   6 100]
12.727272727272727
4.0

In [43]:
import pandas as pd
fish_multi = pd.read_csv('../Data/5_2_fm.csv')

In [51]:
#그룹별 통계량 계산
grouped = fish_multi.groupby('species')
display(grouped.mean())
display(grouped.std())
grouped.describe()


#제발 짧게 쓰자
display(fish_multi.groupby('species').agg(['mean','var','std']))

         length
species
A             3
B             8

         length
species
A           1.0
B           2.0

        length
          mean var  std
species
A            3   1  1.0
B            8   4  2.0

In [54]:
cov_data = pd.read_csv('../Data/4_cov.csv')
cov_data

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49

In [72]:
#공분산 x, y / 길이 / 평균
# sum((x - x평균) * (y - y평균)) / n-1   
tL = len(cov_data)

x = cov_data['x']
y = cov_data['y']

xN = len(x)
yN = len(y)

x_sum = np.sum(x)
y_sum = np.sum(y)


x_mu = x_sum / xN
y_mu = y_sum / yN

cor_v = (( x - x_mu) * ( y - y_mu)) / (tL -1)

print(cor_v,'\n')

cor_v_simple = ( (cov_data['x'] - (cov_data['x'].mean())) * (cov_data['y'] -
                                                            (cov_data['y'].mean()) ) ) / (len(cov_data)-1)
print('simple>',cor_v_simple)

0    2.436000
1    0.953778
2    0.362667
3    0.689333
4    0.122667
5   -0.128444
6    0.806000
7    0.141556
8    0.343778
9    1.946000
dtype: float64

simple> 0    2.436000
1    0.953778
2    0.362667
3    0.689333
4    0.122667
5   -0.128444
6    0.806000
7    0.141556
8    0.343778
9    1.946000
dtype: float64

In [76]:
# 공분산 행렬
np.cov(cov_data.x,cov_data.y,ddof=1)

# 공분산행렬의 상관행렬
np.corrcoef(cov_data.x,cov_data.y)

array([[1.       , 0.7592719],
       [0.7592719, 1.       ]])