###### Q1. 1~20사이의 정수에서 3의 배수만 출력하세요

In [1]:
for i in range(1,21):
    if i % 3 == 0:
        print(i, end = " ")

3 6 9 12 15 18

###### Q2. 1~100범위의 정수에서 95보다 큰 정수만 출력하세요

In [2]:
for i in range(1,101):
    if i > 95:
        print(i, end = " ")

96 97 98 99 100

###### Q3.  array([5, 0, 3, 3, 7, 9, 3, 5, 2, 4]) 에서 7, 9 만 출력하세요

In [3]:
import numpy as np
np.random.seed(0)
num = np.random.randint(10,size=10)
num = num.tolist()
print(num[4],num[5])
type(num)

7 9

list

###### Q4. array([5, 0, 3, 3, 7, 9, 3, 5, 2, 4])에서 0 , 9 만 출력하세요

In [4]:
print(num[1],num[5])

0 9

###### Q5. num에서 10,11,12만 출력하세요

In [5]:
num = np.arange(20).tolist()
print(num[10:13])

[10, 11, 12]

In [ ]:
li = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

###### Q6. 500~1000 사이의 정수 중 3과 5의 공배수의 합을 구하세요

In [6]:
n = 500
sum = 0
while 500 <= n < 1001:
    if n % 3 == 0 and n % 5 == 0 :
        sum = sum + n
    n = n + 1
print(sum)

24750

In [4]:
sum = 0
for i in range(500,1001):
    if i % 3 == 0 and i % 5 == 0:
        sum = sum + i
    else:
        continue
print(sum)

24750

###### Q. 1~100사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [7]:
number = 0
sum = 0
while number < 101:
    if number % 5 == 0 and number % 7 == 0:
        sum = sum + number
    number = number + 1
print(sum)

105

###### Q8. 1~100사이의 정수 중 3과 4의 공배수를 리스트로 구하세요

In [8]:
number = range(1,101)
a = []
for i in number:
    if i % 3 == 0 and i % 4 == 0:
        a.append(i)
print(a)

[12, 24, 36, 48, 60, 72, 84, 96]

###### Q9. 3~7 사이의 정수의 곱을 구하세요

In [9]:
multi = 1
for i in range(3,8):
    if i > 8:
        break
    multi = multi * i
print(multi)

2520

###### Q10. 2,3을 더한 후 5를 곱하는 계산 값을 람다함수를 이용해 구하세요

In [10]:
A = lambda a,b,c : (a+b)*c
A(2,3,5)

25

###### Q11. 2와 5를 더한 후 3으로 나눈 나머지 값을 사용자 함수를 이용해서 구하세요

In [11]:
def find_remainder(a,b,c):
    print((a+b)%c)
find_remainder(2,5,3)

1

###### Q12.문자열 앞의 공백을 제거하고 아래와 같이 출력하세요

In [12]:
# It is true
# 'Python is fit for data analysis'
input_a = """
                       It is true
'Python is fit for data analysis'
"""
input_a = input_a.lstrip()
print(input_a)

It is true
'Python is fit for data analysis'

###### Q13. "10/20/30/40/50"을 '/'를 기준으로 구분하여 아래와 같이 출력하세요.

In [12]:
#['10', '20', '30', '40', '50']
Str = "10/20/30/40/50".split("/")
print(Str)
print(type(Str))

['10', '20', '30', '40', '50']
<class 'list'>

###### Q14.현재의 날씨와 시간을 다음과 같이 포멧으로 표현하세요

In [14]:
# 2021년 6월 23일 09시 01분 01초
import datetime as dt
now = dt.datetime.now()
Answer = "{}년 {}월 {}일 {}시 {}분 {}초".format(now.year, now.month, now.day, now.hour, now.minute,
                                          now.second)
print(Answer)

2021년 6월 23일 18시 17분 41초

###### Q15. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요

In [85]:
a = int(input("입력하세요 : "))
b = int(input("입력하세요 : "))

if a % 2 == 0 and b % 2 == 0 :
    print(a*b)
elif a % 2 != 0 and b %2 != 0 :
    print(a+b)
else:
    print("잘못입력하셨습니다. 다시 입력하세요")

입력하세요 : 3
입력하세요 : 3
6

###### Q16. 1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

In [84]:
for i in range(1,100):
    multi = i * (100 - i)
    if multi < i * (100-i):
        print(multi)

###### Q17. [    ]을 채워서 아래의 출력과 같이 출력하세요.

In [13]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]
for number in numbers:
    output[number%3-1 ].append(number)
print(output)
# 출력 :
# [[1,4,7],[2,5,8],[3,6,9]]

# output대괄호 안에 들어가는 수식이 0과 1과 2로 순서대로 맞춰줘야함. 근데 이걸 하려면 어떤 수식을 들어가야할지 고민해야됨
# append(number)이 의미는 output대괄호 안에 들어가는 수식 중 number을 넣는 다는 의미
# 따라서 append(number)를 넣었기 때문에 1~9까지 순차적으로 입력되는데
# 순차적으로 1 % 3 (나머지 1) - 1 = 0 이니까 output[[0]] 에 1 값이 입력
# 다음 2 % 3 (나머지 2) - 1 = 1 이니까 output[[],[1]] 에 2 값이 입력
# 다음 3 % 3 (나머지 0) - 1 = -1 즉, 맨 마지막인 output[[],[],[-1]] 에 3값이 입력됨
# 따라서 이걸 1~9까지 반복하면
# 다음과 같은 코드가 나온다 제기랄

#혹은 (number+2)%3 도 마찬가지다

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
for number in numbers:
    output[].append(number)
print(output)

###### Q18. 커피자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [86]:
coffee =5
while True:
    money = int(input("금액을 넣어주세요 : "))
    if money == 300:
        coffee = coffee - 1
        print("커피가 나옵니다.")
        print("잔여수량은 %d개 입니다." %coffee)
    elif money > 300:
        coffee = coffee - 1
        print("잔액은 %d원입니다." %(money-300))
        print("커피가 나옵니다")
        print("잔여수량은 %d개 입니다." %coffee)
    else:
        print("금액이 부족합니다. 부족한 금액은 %d원 입니다." %(300-money))
        print("잔여수량은 %d개 입니다." %coffee)
    if coffee == 0 :
        print("잔여 수량이 없습니다.")
        break

금액을 넣어주세요 : 100
금액이 부족합니다. 부족한 금액은 200원 입니다.
잔여수량은 5개 입니다.
금액을 넣어주세요 : 300
커피가 나옵니다.
잔여수량은 4개 입니다.
금액을 넣어주세요 : 200
금액이 부족합니다. 부족한 금액은 100원 입니다.
잔여수량은 4개 입니다.
금액을 넣어주세요 : 400
잔액은 100원입니다.
커피가 나옵니다
잔여수량은 3개 입니다.
금액을 넣어주세요 : 300
커피가 나옵니다.
잔여수량은 2개 입니다.
금액을 넣어주세요 : 600
잔액은 300원입니다.
커피가 나옵니다
잔여수량은 1개 입니다.
금액을 넣어주세요 : 500
잔액은 200원입니다.
커피가 나옵니다
잔여수량은 0개 입니다.
잔여 수량이 없습니다.