In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
data = np.arange(1,22).reshape(7,3)
df = pd.DataFrame(data,columns = list('abc'),index=list('1122333'))
df

    a   b   c
1   1   2   3
1   4   5   6
2   7   8   9
2  10  11  12
3  13  14  15
3  16  17  18
3  19  20  21

In [ ]:
df.groupby(by='index',)