In [1]:
# module import
import pandas as pd
import numpy as np
import seaborn as sns
import time
import datetime as dt
import datetime

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
features = [ , , ]
for feature in featrues:
    df[feature] = le.fit_transform(df[feature])
df. head

> categorization

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[col] = scaler.fit_transform(df[[col]])
df.head

> normalization / to value in 0 ~ 1 range

from sklearn.preprocessing import StandardScaler
scaler = StandaradScaler()
df[col] = scaler.fit_transform(df[[col]])
df.head()

> Average = 0, Var = 1 가우시안 표준분포로 바꿈.

one_hot Encoding/ sklearn X --> get_dummies(df) < 이거 자체가 One_hot_encoding

transform log
df[col] = np.log1p(df[[col]])
back
df[col] = np.expm1p(df[[col]])

In [18]:
ts =pd.Series(np.random.randn(20),
             index=pd.date_range('1/15/2000',periods=20,freq='4d'))
print(ts)
type(ts)

2000-01-15   -1.140268
2000-01-19    2.014634
2000-01-23   -1.347618
2000-01-27    0.849179
2000-01-31   -1.049302
2000-02-04    0.469328
2000-02-08   -0.525568
2000-02-12   -1.165070
2000-02-16   -0.918875
2000-02-20   -1.705612
2000-02-24   -1.200827
2000-02-28    0.268227
2000-03-03   -1.742340
2000-03-07   -1.665855
2000-03-11   -0.033695
2000-03-15    1.231291
2000-03-19   -0.638681
2000-03-23   -0.988759
2000-03-27    0.851445
2000-03-31    1.593945
Freq: 4D, dtype: float64

pandas.core.series.Series

In [21]:
from pandas.tseries import offsets
offset_ = offsets.DateOffset()
grouped = ts.groupby([offset_.rollforward]).mean()
print( grouped )

2000-01-15   -1.140268
2000-01-19    2.014634
2000-01-23   -1.347618
2000-01-27    0.849179
2000-01-31   -1.049302
2000-02-04    0.469328
2000-02-08   -0.525568
2000-02-12   -1.165070
2000-02-16   -0.918875
2000-02-20   -1.705612
2000-02-24   -1.200827
2000-02-28    0.268227
2000-03-03   -1.742340
2000-03-07   -1.665855
2000-03-11   -0.033695
2000-03-15    1.231291
2000-03-19   -0.638681
2000-03-23   -0.988759
2000-03-27    0.851445
2000-03-31    1.593945
dtype: float64

from datetime import datetime
s = '2020-12-12 12:12:12'
d = datetime.strptime(s,'%Y%M%D)
tt = time.mktime(datetime.strptime(data, format).timetuple

In [22]:
14**14

11112006825558016