In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
# python, numpy, pandas 날짜 타입 비교 및 정리
# https://ellun.tistory.com/320

### python

    time
    timestamp to string

In [21]:
# timestamp
import time
print(time.time(),type(time.time()))
#float 형식 1970/01/01부터 지금까지 1초단위 / #float 형식으로 가져감.
timestamp = time.time()
s = str(timestamp)
print(s,type(s))
# time.time() 실수형을 문자열화 시킨게 끝.

1626747369.6643426 <class 'float'>
1626747369.6643426 <class 'str'>

    datetime.
    datetime to string

In [20]:
#datetime => string
from datetime import datetime
s = datetime.now()
print(s,type(s))
# datetime 자체가 모듈(datetime)으로 취급.
s1 = datetime.now().strftime('%Y-%m-%d %H:%M:%S') # str + f (format) + time (time module)
print(s1,type(s1))
# datetime 모듈에서 strftime (문자열화) 했을때, 조건을 맞춰줘서 나타남.
# 대신 string 상태에서 날짜 계산식 불가.

2021-07-20 11:13:44.295436 <class 'datetime.datetime'>
2021-07-20 11:13:44 <class 'str'>

    datetime.
    string to datetime

In [24]:
from datetime import datetime
s = '2021-07-20 11:13:44'
d = datetime.strptime(s,'%Y-%m-%d %H:%M:%S' )
# str + p (parsing) + time # 문자열을 time (time module)로 파싱.
print(d, type(d))

2021-07-20 11:13:44 <class 'datetime.datetime'>

    timestamp
    str to timestamp

In [29]:
s = '2021-07-20 11:13:44'
timestamp = time.mktime(datetime.strptime(s,'%Y-%m-%d %H:%M:%S').timetuple())
print(timestamp, type(timestamp))
#mktime <-> localtime()
#timetuple

1626747224.0 <class 'float'>

Q. datetime.today() -> timetuple

In [42]:
today = datetime.today()
timestamp  = time.mktime(today.timetuple())
print(timestamp,type(timestamp))

1626747982.0 <class 'float'>

Q. timestamp -> datetime

In [53]:
f = time.time()
t = str(f)
d = datetime.fromtimestamp(f)
print(f,type(f))
print(d,type(d))
print(t,type(t))

1626748172.3250551 <class 'float'>
2021-07-20 11:29:32.325055 <class 'datetime.datetime'>
1626748172.3250551 <class 'str'>

    1년전 datetime 값

In [61]:
from datetime import timedelta
import time
datetime_now = datetime.now() #현재날짜 저장
delta_datetime_past = timedelta(days=-365) #날짜 차이 계산
print(delta_datetime_past,type(delta_datetime_past))
datetime_now + delta_datetime_past #현재날짜 - 작년

-365 days, 0:00:00 <class 'datetime.timedelta'>

datetime.datetime(2020, 7, 20, 11, 32, 40, 183691)

    두 날짜간의 일수 구하기

In [64]:
since_timestamp = datetime.strptime('20180301','%Y%m%d')
until_timestamp = datetime.strptime('20180331','%Y%m%d')
result = until_timestamp - since_timestamp
print(result,type(result))

30 days, 0:00:00 <class 'datetime.timedelta'>

    특정일 구하기

In [77]:
import datetime
def get_day(y,m,d):
    days = ['MON','TUE','WED','THU','FRI','SAT','SUN']
    return days[datetime.date(y,m,d).weekday()]
print(get_day(2021,7,20))
print(datetime.datetime.now().weekday())

TUE
1

    Pandas Timestamp

In [86]:
import pandas as pd
print(time.time())
date = pd.Timestamp(time.time(),unit='s',tz='Asia/Seoul') #units = seconds / tz= location
print(date,type(date))

1626749058.9529831
2021-07-20 11:44:18.952983141+09:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

    Pandas time in DF

In [88]:
df = pd.read_csv('../Data/stock-data.csv')
df.head()

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [94]:
df['Date'].astype(str)

0     2018-07-02
1     2018-06-29
2     2018-06-28
3     2018-06-27
4     2018-06-26
5     2018-06-25
6     2018-06-22
7     2018-06-21
8     2018-06-20
9     2018-06-19
10    2018-06-18
11    2018-06-15
12    2018-06-14
13    2018-06-12
14    2018-06-11
15    2018-06-08
16    2018-06-07
17    2018-06-05
18    2018-06-04
19    2018-06-01
Name: Date, dtype: object