In [1]:
import re

In [2]:
a = '가양1동'

In [20]:
p = re.compile('[가-힣]+[^0-9+]')

In [21]:
p1 = p.search(a)
p1

In [48]:
def C8(x):
    import re

    p = re.compile('[가-힣]+(d|)+(읍|면|동|가|리)')

    r = p.findall(x)
    
    return ''.join(r)

In [ ]:
def dong(x):
    import re

    p = re.compile('[가-힣]\S*[0-9]{1}[읍면동가]')

    r = p.findall(x)
    
    return ''.join(r)

In [ ]:
([가-힣]+(d|)+(읍|면|동|가|리))

In [24]:
import pandas as pd

In [29]:
practice = pd.read_csv('Dataset/human/서울.csv',index_col=0)

In [30]:
practice

     시군구  읍면동
0    강남구  개포동
13   강남구  청담동
12   강남구  자곡동
10   강남구  율현동
9    강남구  역삼동
..   ...  ...
401  중랑구  망우동
402  중랑구  면목동
403  중랑구   묵동
404  중랑구  상봉동
406  중랑구  중화동

[407 rows x 2 columns]

In [38]:
practice['연습'] = practice['읍면동'].apply(dong)

In [40]:
practice

     시군구  읍면동 연습
0    강남구  개포동
13   강남구  청담동
12   강남구  자곡동
10   강남구  율현동
9    강남구  역삼동
..   ...  ... ..
401  중랑구  망우동
402  중랑구  면목동
403  중랑구   묵동
404  중랑구  상봉동
406  중랑구  중화동

[407 rows x 3 columns]

In [116]:
A = ['유훈1가','기범1동','승혜동1가','광훈1동1가','교동']

In [117]:
a = pd.DataFrame(A)

In [123]:
a = a.rename(columns={0:'B'})

In [124]:
a

        B
0    유훈1가
1    기범1동
2   승혜동1가
3  광훈1동1가
4      교동

In [125]:
def dong(x):
    import re

    p = re.compile("[가-힣][^(구\s)]+동[^1-9|가]")

    r = p.findall(x)
    
    return ''.join(r)

In [126]:
# [가-힣][^(구\s)]+동[^1-9|가]

In [ ]:
a = '종로1가1동'

import re
data = '종로1가1동'
results = re.split(r'\d+',data)

print(results[0])
print(results[-1])

In [127]:
def ga(x):
    import re

    p = re.compile("[가-힣]+\s?[1-9]가")

    r = p.findall(x)
    
    return ''.join(r)

In [131]:
a['C'] = a['B'].apply(ga)

In [132]:
a

        B      C
0    유훈1가   유훈1가
1    기범1동
2   승혜동1가  승혜동1가
3  광훈1동1가    동1가
4      교동

In [2]:
import pandas as pd

In [8]:
child  = pd.read_csv('Dataset/전국어린이보호구역표준데이터.csv',encoding='cp949')

In [9]:
child

,시설종류,대상시설명,소재지도로명주소,소재지지번주소,위도,경도,관리기관명,관할경찰서명,CCTV설치여부,CCTV설치대수,보호구역도로폭,데이터기준일자,제공기관코드,제공기관명
0,초등학교,오덕초등학교,강원도 철원군 동송읍 오덕로159,강원도 철원군 동송읍 오덕리 산23,38.222998,127.232171,강원도 철원군,철원경찰서,Y,1.0,6,2020-08-26,4300000,강원도 철원군
1,초등학교,문혜초등학교,강원도 철원군 갈말읍 태봉로1556,강원도 철원군 갈말읍 문혜리 1099-4,38.186844,127.318071,강원도 철원군,철원경찰서,Y,1.0,6,2020-08-26,4300000,강원도 철원군
2,어린이집,로이스어린이집,대구광역시 달서구 진천로3길 85-11,대구광역시 달서구 진천동 470-23,35.809747,128.521475,대구광역시 달서구청,대구광역시 달서경찰서,Y,1.0,6,2021-03-15,3470000,대구광역시 달서구
3,어린이집,예원어린이집,대구광역시 달서구 월곡로47안길 33-7,대구광역시 달서구 상인동 588,35.814999,128.540388,대구광역시 달서구청,대구광역시 달서경찰서,Y,1.0,6,2021-03-15,3470000,대구광역시 달서구
4,어린이집,해뜰어린이집,대구광역시 달서구 월곡로47안길 33-4,대구광역시 달서구 상인동 588,35.814793,128.540309,대구광역시 달서구청,대구광역시 달서경찰서,Y,1.0,6,2021-03-15,3470000,대구광역시 달서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17571,어린이집,정인아트어린이집,인천광역시 계양구 계산천서로24번길12,NaN,37.540983,126.719641,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17572,어린이집,하늘어린이집,인천광역시 계양구 경명대로1078번길14,NaN,37.542011,126.726518,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17573,어린이집,태양창의아트어린이집,인천광역시 계양구 주부토로529번길13-1,NaN,37.541291,126.726734,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17574,어린이집,귤현꿈나무어린이집,인천광역시 계양구 귤현길 12,NaN,37.568249,126.748015,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17575,유치원,예지슬유치원,경기도 고양시 일산서구 장자길 74-1 (덕이동) 예지슬유치원,경기도 고양시 일산서구 덕이동 774-4,37.698418,126.745303,경기도 고양시,일산서부,N,NaN,3~40,2021-07-01,3940000,경기도 고양시

In [12]:
PP = pd.read_csv('Dataset/전국인구밀도포함.csv')
um = PP[PP['시군구명']==검색할구]
# u1 = um['읍/면/동'].tolist()
# u1
# len(u1)

In [16]:
PP

       시도명 시군구명 읍/면/동    등록인구수      인구밀도
0    서울특별시  종로구   사직동   9806.0  0.000983
1    서울특별시  종로구   삼청동   2909.0  0.000292
2    서울특별시  종로구   부암동  10333.0  0.001036
3    서울특별시  종로구   평창동  18582.0  0.001863
4    서울특별시  종로구   무악동   8592.0  0.000861
..     ...  ...   ...      ...       ...
638   충청북도  진천군   초평면   3508.0  0.041631
639   충청북도  진천군   문백면   4147.0  0.049214
640   충청북도  진천군   백곡면   2167.0  0.025716
641   충청북도  진천군   이월면   8078.0  0.095864
642   충청북도  진천군  광혜원면  12009.0  0.142515

[643 rows x 5 columns]

In [35]:
PP['시도명'].unique()

array(['서울특별시', '강원도', '광주광역시', '경기도', '부산광역시', '전라남도', '전라북도', '충청남도',
       '충청북도'], dtype=object)

In [40]:
u1 = (PP[PP['시도명']=='강원도']['시군구명'].unique()).tolist()

In [41]:
u1

['춘천시',
 '원주시',
 '강릉시',
 '동해시',
 '태백시',
 '속초시',
 '삼척시',
 '홍천군',
 '횡성군',
 '영월군',
 '평창군',
 '정선군',
 '철원군',
 '화천군',
 '양구군',
 '인제군',
 '고성군',
 '양양군']

In [18]:
ppt = pd.pivot_table(data=PP, columns = ['시도명','시군구명','읍/면/동','인구밀도'])

In [20]:
ppt = ppt.transpose()

In [23]:
ppt

                            등록인구수
시도명  시군구명 읍/면/동 인구밀도
강원도  강릉시  강남동   0.012240  19111.0
          강동면   0.003004   4690.0
          경포동   0.004961   7746.0
          교1동   0.017444  27236.0
          교2동   0.005306   8284.0
...                           ...
충청북도 진천군  문백면   0.049214   4147.0
          백곡면   0.025716   2167.0
          이월면   0.095864   8078.0
          진천읍   0.378769  31917.0
          초평면   0.041631   3508.0

[643 rows x 1 columns]

In [28]:
child

,시설종류,대상시설명,소재지도로명주소,소재지지번주소,위도,경도,관리기관명,관할경찰서명,CCTV설치여부,CCTV설치대수,보호구역도로폭,데이터기준일자,제공기관코드,제공기관명
0,초등학교,오덕초등학교,강원도 철원군 동송읍 오덕로159,강원도 철원군 동송읍 오덕리 산23,38.222998,127.232171,강원도 철원군,철원경찰서,Y,1.0,6,2020-08-26,4300000,강원도 철원군
1,초등학교,문혜초등학교,강원도 철원군 갈말읍 태봉로1556,강원도 철원군 갈말읍 문혜리 1099-4,38.186844,127.318071,강원도 철원군,철원경찰서,Y,1.0,6,2020-08-26,4300000,강원도 철원군
2,어린이집,로이스어린이집,대구광역시 달서구 진천로3길 85-11,대구광역시 달서구 진천동 470-23,35.809747,128.521475,대구광역시 달서구청,대구광역시 달서경찰서,Y,1.0,6,2021-03-15,3470000,대구광역시 달서구
3,어린이집,예원어린이집,대구광역시 달서구 월곡로47안길 33-7,대구광역시 달서구 상인동 588,35.814999,128.540388,대구광역시 달서구청,대구광역시 달서경찰서,Y,1.0,6,2021-03-15,3470000,대구광역시 달서구
4,어린이집,해뜰어린이집,대구광역시 달서구 월곡로47안길 33-4,대구광역시 달서구 상인동 588,35.814793,128.540309,대구광역시 달서구청,대구광역시 달서경찰서,Y,1.0,6,2021-03-15,3470000,대구광역시 달서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17571,어린이집,정인아트어린이집,인천광역시 계양구 계산천서로24번길12,NaN,37.540983,126.719641,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17572,어린이집,하늘어린이집,인천광역시 계양구 경명대로1078번길14,NaN,37.542011,126.726518,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17573,어린이집,태양창의아트어린이집,인천광역시 계양구 주부토로529번길13-1,NaN,37.541291,126.726734,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17574,어린이집,귤현꿈나무어린이집,인천광역시 계양구 귤현길 12,NaN,37.568249,126.748015,인천광역시 계양구청,인천광역시 계양경찰서,Y,NaN,NaN,2021-06-07,3550000,인천광역시 계양구
17575,유치원,예지슬유치원,경기도 고양시 일산서구 장자길 74-1 (덕이동) 예지슬유치원,경기도 고양시 일산서구 덕이동 774-4,37.698418,126.745303,경기도 고양시,일산서부,N,NaN,3~40,2021-07-01,3940000,경기도 고양시

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_row', 500)
import warnings
warnings.filterwarnings('ignore')
import re
def dong(x):
    import re

    p = re.compile('[가-힣]\S*[읍면동가]')

    r = p.findall(x)
    
    return ''.join(r)


import re
def dong1(x):
    import re

    p = re.compile('[가-힣]\S*[면동가]')

    r = p.findall(x)
    
    return ''.join(r)

검색할시도명 = '충청북도'
# 검색할시군구명 = '춘천시'

빼올ui = 검색할시도명
# 검색할구 = 검색할시군구명
PP = pd.read_csv('Dataset/전국인구밀도포함.csv')
자동화 = (PP[PP['시도명']==f'{검색할시도명}']['시군구명'].unique()).tolist()

제공기관명 = []
for j in 자동화:
    
    제공기관명.append(f'{검색할시도명} {j}')

소재지지번주소없음 = pd.DataFrame(columns=['시설종류', '대상시설명', '소재지도로명주소', '소재지지번주소', '위도', '경도', '관리기관명', '관할경찰서명',
   'CCTV설치여부', 'CCTV설치대수', '보호구역도로폭', '데이터기준일자', '제공기관코드', '제공기관명',
   '읍/면/동', '시도명', '시군구명'])
    
for i in 제공기관명:
    df= pd.read_excel('dataset/전국어린이보호구역표준데이터-20210801.xls')
    df = df.rename(columns=df.iloc[0])
    df= df.drop(df.index[0])
    df1 = df.loc[df.loc[:,'제공기관명'].str.contains(i,na=False)]
    a = detail_1[detail_1['소재지지번주소'].isnull()==1]
    소재지지번주소없음 = 소재지지번주소없음.append(a)
    
소재지지번주소없음

In [90]:
b['c8'].unique()

array(['', '충정로3가', '충정로2가', '성수동2가', '금호동1가', '금호동2가', '성수동1가', '금호동4가',
       '금호동3가', '삼선동1가', '삼선동2가', '안암동1가', '안암동3가', '안암동4가', '보문동7가',
       '안암동2가', '안암동5가', '보문동5가', '보문동4가', '동선동1가', '보문동6가', '동선동4가',
       '동소문동1가', '동선동3가', '동소문동4가', '동소문동5가', '동소문동6가', '동소문동7가', '보문동1가',
       '보문동2가', '동소문동2가', '양평동2가', '양평동4가', '양평동5가', '양평동6가', '영등포동6가',
       '영등포동2가', '영등포동3가', '영등포동4가', '양평동1가', '영등포동7가', '영등포동8가',
       '영등포동1가', '양평동3가', '문래동6가', '당산동1가', '당산동2가', '당산동3가', '당산동4가',
       '당산동6가', '문래동1가', '문래동2가', '문래동3가', '문래동4가', '문래동5가', '원효로4가',
       '청파동1가', '청파동2가', '한강로2가', '한강로1가', '한강로3가', '원효로2가', '청파동3가',
       '원효로1가', '원효로3가', '용산동5가', '용산동2가', '용산동4가', '용산동6가', '종로3가',
       '종로2가', '종로4가', '종로5가', '신문로1가', '명륜2가', '명륜1가', '명륜3가', '명륜4가',
       '을지로6가', '을지로7가', '의주로2가', '인현동2가', '장충동1가', '장충동2가', '저동2가',
       '인현동1가', '태평로2가', '충무로2가', '충무로3가', '충무로4가', '충무로5가', '태평로1가',
       '필동2가', '필동3가', '회현동1가', '을지로5가', '을지로4가', '봉래동2가', '을지로2가',
       '광희동1가', '광희동2가', '남대문로1가', '남대문로3가', '남대문로5가', '남산동2가', '을지로3가',
       '명동2가', '명동1가', '을지로1가'], dtype=object)

In [ ]:
practice = pd.read_csv('Dataset/human/서울.csv',index_col=0)